# This is the jupyter notebook for group 2 project 1

In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [76]:
df_aviation = pd.read_csv('../Data/AviationData.csv', encoding ='latin-1', low_memory=False)

In [77]:
df_uscodes = pd.read_csv('../Data/AviationData.csv', encoding = 'latin-1')

C:\Users\16047\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [78]:
df_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [79]:
df_aviation.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [80]:
df_aviation['Total.Serious.Injuries'].isna()

0        False
1        False
2         True
3        False
4        False
         ...
88884    False
88885    False
88886    False
88887    False
88888    False
Name: Total.Serious.Injuries, Length: 88889, dtype: bool

In [81]:
df_aviation['Total.Serious.Injuries'].isnull().sum()

12510

In [82]:
df_aviation['Total.Serious.Injuries'].unique()

array([  0.,  nan,   2.,   1.,   6.,   4.,   5.,  10.,   3.,   8.,   9.,
         7.,  15.,  17.,  28.,  26.,  47.,  14.,  81.,  13., 106.,  60.,
        16.,  21.,  50.,  44.,  18.,  12.,  45.,  39.,  43.,  11.,  25.,
        59.,  23.,  55.,  63.,  88.,  41.,  34.,  53.,  33.,  67.,  35.,
        20., 137.,  19.,  27., 125., 161.,  22.])

In [83]:
df_aviation['Total.Serious.Injuries'].fillna(df_aviation['Total.Serious.Injuries'].median())

0        0.0
1        0.0
2        0.0
3        0.0
4        2.0
        ...
88884    1.0
88885    0.0
88886    0.0
88887    0.0
88888    1.0
Name: Total.Serious.Injuries, Length: 88889, dtype: float64

In [84]:
df_aviation['Total.Fatal.Injuries'].fillna(df_aviation['Total.Fatal.Injuries'].median())

0        2.0
1        4.0
2        3.0
3        2.0
4        1.0
        ...
88884    0.0
88885    0.0
88886    0.0
88887    0.0
88888    0.0
Name: Total.Fatal.Injuries, Length: 88889, dtype: float64

In [85]:
df_aviation['Total.Minor.Injuries'].fillna(df_aviation['Total.Minor.Injuries'].median())

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
88884    0.0
88885    0.0
88886    0.0
88887    0.0
88888    0.0
Name: Total.Minor.Injuries, Length: 88889, dtype: float64

In [86]:
df_aviation['Total.Minor.Injuries'].median()

0.0

In [87]:
print(df_aviation['Injury.Severity'].value_counts().index)

Index(['Non-Fatal', 'Fatal(1)', 'Fatal', 'Fatal(2)', 'Incident', 'Fatal(3)',
       'Fatal(4)', 'Fatal(5)', 'Minor', 'Serious',
       ...
       'Fatal(45)', 'Fatal(206)', 'Fatal(124)', 'Fatal(270)', 'Fatal(73)',
       'Fatal(107)', 'Fatal(230)', 'Fatal(30)', 'Fatal(144)', 'Fatal(156)'],
      dtype='object', length=109)

In [88]:
df_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [89]:
df_aviation['Injury.Severity']

0         Fatal(2)
1         Fatal(4)
2         Fatal(3)
3         Fatal(2)
4         Fatal(1)
           ...
88884        Minor
88885          NaN
88886    Non-Fatal
88887          NaN
88888        Minor
Name: Injury.Severity, Length: 88889, dtype: object

In [90]:
df_aviation['Aircraft.damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', nan, 'Unknown'], dtype=object)

In [91]:
df_aviation['Aircraft.damage'].fillna(df_aviation['Aircraft.damage']['Unknown'])

KeyError: 'Unknown'

In [ ]:
df_aviation['aircraft.damage'].unique()

In [92]:
df_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [93]:
df_aviation['Event.Date'] = pd.to_datetime(df_aviation["Event.Date"], format="%Y-%m-%d")

In [94]:
df_aviation.columns = df_aviation.columns.str.strip().str.lower().str.replace('.', '_')

In [95]:
df_aviation['aircraft_damage'].fillna('Unknown', inplace=True)

In [96]:
df_aviation['aircraft_damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', 'Unknown'], dtype=object)

In [97]:
df_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         88889 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  float64
 24  total_serious_injuries  76379 non-null  float64
 25  total_minor_injuries    76956 non-null  float64
 26  total_uninjured         82977 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 21.0+ MB

In [98]:
df_aviation['total_minor_injuries'].fillna(df_aviation['total_minor_injuries'].median(), inplace=True)

In [99]:
df_aviation['total_serious_injuries'].fillna(df_aviation['total_serious_injuries'].median(), inplace = True)

In [100]:
df_aviation['total_fatal_injuries'].fillna(df_aviation['total_fatal_injuries'].median(), inplace=True)

In [101]:
df_aviation['total_uninjured'].fillna(df_aviation['total_uninjured'].median(), inplace=True)

In [102]:
df_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         88889 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    88889 non-null  float64
 24  total_serious_injuries  88889 non-null  float64
 25  total_minor_injuries    88889 non-null  float64
 26  total_uninjured         88889 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 21.0+ MB

In [103]:
df_aviation['investigation_type'].value_counts()

Accident    85015
Incident     3874
Name: investigation_type, dtype: int64

In [104]:
df_aviation['report_status'].value_counts()

Probable Cause                                                                                                                                                                                                         61754
Foreign                                                                                                                                                                                                                 1999
<br /><br />                                                                                                                                                                                                             167
Factual                                                                                                                                                                                                                  145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                              56
                                                                                                                                                                                                                       ...
A partial loss of engine power for reasons that could not be determined because postaccident examination did not reveal any anomalies that would have precluded normal operation.\r                                        1
The unlicensed pilots decision to land on a closed runway with a tailwind, his failure to attain the proper touchdown point, and his delayed decision to attempt a go-around, resulting in a collision with trees.        1
The pilot's improper flare while landing, resulting in a bounced landing.                                                                                                                                                  1
A partial loss of engine power for reasons that could not be determined due to the fragmentation of the electrical system.                                                                                                 1
The pilots failure to maintain directional control during takeoff, which resulted in a runway excursion.                                                                                                                  1
Name: report_status, Length: 17075, dtype: int64

In [105]:
df_aviation['broad_phase_of_flight'].unique()

array(['Cruise', 'Unknown', 'Approach', 'Climb', 'Takeoff', 'Landing',
       'Taxi', 'Descent', 'Maneuvering', 'Standing', 'Go-around', 'Other',
       nan], dtype=object)

In [106]:
df_airplane = df_aviation.loc[df_aviation['aircraft_category'] == 'Airplane']

In [107]:
df_airplane.value_counts()

event_id        investigation_type  accident_number  event_date  location       country        latitude   longitude   airport_code  airport_name                 injury_severity  aircraft_damage  aircraft_category  registration_number  make    model  amateur_built  number_of_engines  engine_type  far_description                schedule  purpose_of_flight  air_carrier                                           total_fatal_injuries  total_serious_injuries  total_minor_injuries  total_uninjured  weather_condition  broad_phase_of_flight  report_status   publication_date
20071108X01768  Accident            MIA08LA014A      2007-11-06  OPA LOCKA, FL  United States  25.904167  -80.273611  OPF           Opa Locka Executive Airport  Non-Fatal        Substantial      Airplane           N701SE               Cessna  C208B  No             1.0                Turbo Prop   Part 135: Air Taxi & Commuter  NSCH      Business           Florida Air Cargo, Inc (dba: Florida Air Cargo, Inc)  0.0                   0.0                     0.0                   2.0              VMC                Taxi                   Probable Cause  09-12-2011          1
dtype: int64

In [108]:
df_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         88889 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    88889 non-null  float64
 24  total_serious_injuries  88889 non-null  float64
 25  total_minor_injuries    88889 non-null  float64
 26  total_uninjured         88889 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 21.0+ MB

In [109]:
df_airplane['make'] = df_airplane['make'].str.lower()

top_make = df_airplane['make'].value_counts().head(10).index

<ipython-input-109-eec93f1b529c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['make'] = df_airplane['make'].str.lower()

In [110]:
df_airplane['schedule'].value_counts()

SCHD    1497
NSCH    1237
UNK      256
Name: schedule, dtype: int64

In [111]:
df_airplane['injury_severity'].unique()

array(['Non-Fatal', 'Fatal(1)', 'Fatal(2)', 'Fatal(3)', 'Incident',
       'Fatal(8)', 'Fatal(4)', 'Fatal(7)', 'Fatal(6)', 'Fatal(5)',
       'Fatal(12)', 'Fatal(14)', 'Fatal(11)', 'Fatal(17)', 'Fatal(10)',
       'Fatal(27)', 'Fatal(16)', 'Fatal(54)', 'Fatal(160)', 'Fatal(97)',
       'Fatal(125)', 'Unavailable', 'Fatal(35)', 'Fatal(228)', 'Fatal(9)',
       'Fatal(18)', 'Fatal(169)', 'Fatal(131)', 'Fatal(13)', 'Fatal(24)',
       'Fatal(20)', 'Fatal(65)', 'Fatal(19)', 'Fatal(26)', 'Fatal(113)',
       'Fatal(154)', 'Fatal', nan, 'Minor', 'Serious'], dtype=object)

In [112]:
df_airplane['total_serious_injuries'].describe()

count    27617.000000
mean         0.262954
std          1.973980
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        161.000000
Name: total_serious_injuries, dtype: float64

In [113]:
df_aviation['total_fatal_injuries'].fillna(0, inplace=True)
df_aviation['total_serious_injuries'].fillna(0, inplace=True)
df_aviation['total_minor_injuries'].fillna(0, inplace=True)
df_aviation['total_uninjured'].fillna(0, inplace=True)

In [114]:
df_airplane.reset_index()

,index,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,...,NaN,Air Canada,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
1,7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
2,8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
3,12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
4,13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27612,88869,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022
27613,88873,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,...,Personal,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
27614,88876,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022
27615,88877,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,...,Personal,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022
27616,88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022

In [115]:
df_airplane.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27617 entries, 5 to 88886
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                27617 non-null  object
 1   investigation_type      27617 non-null  object
 2   accident_number         27617 non-null  object
 3   event_date              27617 non-null  datetime64[ns]
 4   location                27610 non-null  object
 5   country                 27610 non-null  object
 6   latitude                22092 non-null  object
 7   longitude               22083 non-null  object
 8   airport_code            17773 non-null  object
 9   airport_name            18256 non-null  object
 10  injury_severity         26803 non-null  object
 11  aircraft_damage         27617 non-null  object
 12  aircraft_category       27617 non-null  object
 13  registration_number     27391 non-null  object
 14  make                    27608 non-null  object
 15  model                   27586 non-null  object
 16  amateur_built           27600 non-null  object
 17  number_of_engines       24863 non-null  float64
 18  engine_type             23391 non-null  object
 19  far_description         27118 non-null  object
 20  schedule                2990 non-null   object
 21  purpose_of_flight       23878 non-null  object
 22  air_carrier             11267 non-null  object
 23  total_fatal_injuries    27617 non-null  float64
 24  total_serious_injuries  27617 non-null  float64
 25  total_minor_injuries    27617 non-null  float64
 26  total_uninjured         27617 non-null  float64
 27  weather_condition       24564 non-null  object
 28  broad_phase_of_flight   6408 non-null   object
 29  report_status           22646 non-null  object
 30  publication_date        26616 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 6.7+ MB

In [116]:
df_airplane['make'].value_counts().head(50)

df_airplane['model'].value_counts().head(25)

172          870
152          451
737          404
182          345
172N         316
172S         278
PA28         273
SR22         265
150          256
180          237
PA-28-140    232
172M         217
PA-18-150    202
A36          200
172P         167
PA-28-161    144
140          134
PA-28-180    129
170B         122
210          119
PA-28-181    115
7AC          112
7GCBC        112
172R         110
PA-18        109
Name: model, dtype: int64

In [117]:
df_airplane['number_of_engines'].unique()

array([ 2.,  1.,  3.,  4., nan,  0.,  8.,  6.])

In [118]:
 df_airplane['number_of_engines'].value_counts()

1.0    21176
2.0     3515
4.0      103
3.0       58
0.0        9
6.0        1
8.0        1
Name: number_of_engines, dtype: int64

In [119]:
df_airplane['engine_type'].value_counts()

Reciprocating      20715
Turbo Prop          1366
Turbo Fan            970
Turbo Jet            158
Unknown              153
Geared Turbofan       12
Turbo Shaft           11
Electric               5
UNK                    1
Name: engine_type, dtype: int64

In [120]:

!ls

EDA File.ipynb
EDA File1.ipynb
JB_EDA.ipynb
Project12.ipynb
Project1_Group2.ipynb
filem.csv

In [121]:
df_aviation['make'].str.replace('robinson helicopter company', 'robinson').replace('robinson helicopter', 'robinson')
df_aviation['make'] = df_aviation['make'].str.lower()

In [122]:
df_helicopter = df_aviation.loc[df_aviation['aircraft_category'] == 'Helicopter']

In [123]:
df_airplane['engine_type'].dropna(inplace = True)

<ipython-input-123-2dc4664edc4c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['engine_type'].dropna(inplace = True)

In [124]:
df_airplane.dropna(subset=['engine_type'], inplace=True)  
df_airplane['engine_type'].isna().sum()

<ipython-input-124-3571d7fd1461>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane.dropna(subset=['engine_type'], inplace=True)

0

In [135]:
index_unknown = df_airplane[ df_airplane['engine_type'] == 'Unknown' ].index
df_airplane.drop(index_names, inplace=True)

C:\Users\16047\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [137]:
index_1eng = df_airplane[ df_airplane['number_of_engines'] == 1.0].index
df_airplane.drop(index_1eng, inplace=True)

C:\Users\16047\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [138]:
df_airplane.to_csv('clean_engine.csv')

In [139]:
!ls

EDA File.ipynb
EDA File1.ipynb
JB_EDA.ipynb
Project12.ipynb
Project1_Group2.ipynb
clean_engine.csv
filem.csv

In [150]:
two_engines = df_airplane['number_of_engines']==2.0

engine_num2_by_type = two_engines.groupby(df_airplane['engine_type']).groups
engine_num2_by_type

{'Electric': [78507, 84080, 87804], 'Geared Turbofan': [83575, 83642, 83729, 83780, 84117, 84124, 84127, 84141, 84310, 84315, 84367, 84422], 'Reciprocating': [8, 25, 26, 33, 34, 39, 45, 53, 65, 68, 70, 78, 81, 87, 94, 101, 102, 104, 120, 127, 131, 132, 134, 139, 140, 141, 159, 165, 185, 223, 234, 243, 251, 280, 282, 284, 285, 287, 288, 290, 293, 296, 299, 321, 322, 332, 345, 352, 358, 361, 371, 373, 390, 396, 399, 404, 409, 410, 414, 416, 417, 431, 474, 476, 477, 480, 481, 485, 493, 513, 514, 533, 535, 536, 539, 541, 543, 545, 569, 574, 585, 588, 589, 590, 591, 607, 609, 619, 652, 655, 666, 668, 677, 685, 687, 693, 699, 701, 706, 707, ...], 'Turbo Fan': [5, 79, 149, 155, 230, 506, 522, 737, 796, 901, 906, 908, 1343, 1390, 1489, 1833, 1834, 1969, 2132, 2254, 2335, 2456, 2614, 3076, 3177, 3247, 3292, 3296, 3335, 3374, 3392, 3417, 3423, 3447, 3454, 3510, 3557, 3578, 4149, 4150, 5957, 6760, 8591, 14806, 20200, 22096, 28159, 30062, 31016, 36893, 37161, 37214, 37280, 37281, 41773, 41774, 42415, 43265, 44772, 45235, 45513, 46460, 46474, 47423, 47595, 47870, 47942, 48109, 48128, 48284, 48402, 49517, 49879, 50019, 50033, 50042, 50058, 51485, 52199, 52813, 54167, 55162, 55438, 55630, 57051, 57144, 57887, 57967, 58138, 58244, 58394, 58595, 58596, 58607, 58683, 58977, 59074, 59103, 59234, 59235, ...], 'Turbo Jet': [221, 320, 351, 547, 558, 623, 669, 1093, 1164, 1283, 1295, 1347, 1521, 2827, 3202, 3214, 3256, 3445, 3571, 14805, 16837, 40009, 41704, 42219, 49949, 52049, 55434, 58092, 58104, 58521, 58988, 59291, 59292, 59584, 59764, 62458, 62550, 63607, 63862, 64079, 64104, 64151, 64808, 65127, 65298, 65675, 65718, 65768, 66130, 66228, 66312, 66517, 66912, 67068, 67388, 67411, 67623, 67733, 67821, 67899, 68030, 68081, 68165, 68686, 68849, 69008, 69013, 69027, 69208, 69232, 69303, 69488, 69520, 69616, 69735, 69766, 70064, 70114, 70532, 70541, 70764, 70854, 70918, 70978, 70988, 71138, 71620, 71900, 72001, 72597, 72879, 72996, 73478, 73870, 74518, 74720, 75140, 76092, 76099, 76124, ...], 'Turbo Prop': [80, 93, 103, 118, 119, 129, 191, 214, 229, 279, 294, 334, 335, 336, 346, 377, 386, 407, 419, 515, 532, 568, 661, 663, 676, 709, 719, 768, 785, 890, 912, 987, 1087, 1162, 1216, 1245, 1250, 1360, 1362, 1451, 1493, 1581, 1764, 1932, 2138, 2252, 2257, 2394, 2427, 2451, 2598, 2678, 2722, 2739, 2750, 2789, 3054, 3074, 3140, 3141, 3170, 3173, 3199, 3251, 3315, 3391, 3434, 3435, 3436, 3437, 3478, 3479, 3488, 3493, 3494, 3526, 3534, 4285, 6669, 7708, 10140, 12683, 16647, 20014, 25232, 25277, 29599, 30231, 36894, 37845, 39039, 39476, 43011, 45194, 45701, 46179, 46740, 49991, 50634, 51768, ...], 'Turbo Shaft': [61829, 62024, 83058, 87932]}

In [152]:
three_engines = df_airplane['number_of_engines']==3.0

engine_num3_by_type = three_engines.groupby(df_airplane['engine_type']).ngroups
engine_num3_by_type

7

In [164]:
df_airplane['engine_type']

5            Turbo Fan
8        Reciprocating
25       Reciprocating
26       Reciprocating
33       Reciprocating
             ...
88099    Reciprocating
88141    Reciprocating
88146    Reciprocating
88158        Turbo Fan
88661    Reciprocating
Name: engine_type, Length: 3640, dtype: object