# Compiling Data on Aviation with the Least Amount of Risk

*What is being graded (for reference, delete later):*
    
    - Business Understanding
    - Data Understanding
    - Data Preparation
    - Data Analysis
    - Code Quality

# Project Goals

Our company is interested in purchasing and operating aircrafts in order to expand and diversify our portfolio. Our goal is to determine which aircrafts have the lowest risk for our new business endeavors. We decided that these business endeavors can be broken up into three categories:
* Passenger transportation
* Cargo transportation
* Private enterprises

**Our main goal for this project is to recommend an aircraft with the lowest risk for each of these business endeavors.**

# Data

# Methods

## Exploring The Data

## Cleaning The Data

### Handling the NaN's for the Make and Model Columns

We are going to drop the rows for the missing make and model values
This is because we can't get any useful data from these if we don't know the make and the model!

In [ ]:
# First make a copy of the original data
df_clean = df.copy()
df_clean

### Drop the Missing Values from the Make and Model columns

In [ ]:
df_clean = df_clean.dropna(subset=['Make', 'Model'])

Take a look and see if it worked.

In [ ]:
df_clean.isna().sum()

### Let's also Convert the Name of the Columns to Something Cleaner

In [ ]:
df_clean.columns = df_clean.columns.str.strip().str.lower().str.replace('.', '_')

### Comparing the two Data Frames

In [ ]:
print("This is the original DataFrame:")
print()
print(df.info())
print()
print("This is the cleaned DataFrame:")
print()
print(df_clean.info())
print()

### Handling the Four Injury Rows
Taking the four rows and filling the Nans as 0 because therecan only be one type of injury

In [ ]:
df_clean['total_fatal_injuries'].fillna(0, inplace=True)
df_clean['total_serious_injuries'].fillna(0, inplace=True)
df_clean['total_minor_injuries'].fillna(0, inplace=True)
df_clean['total_uninjured'].fillna(0, inplace=True)

Check and make sure the transforemation worked

In [ ]:
print("Checking the total fatal injuries column")
print(df['Total.Fatal.Injuries'].isna().sum())
print(df_clean['total_fatal_injuries'].isna().sum())

print("Checking the total serious injuries column")
print(df['Total.Serious.Injuries'].isna().sum())
print(df_clean['total_serious_injuries'].isna().sum())

print("Checking the total Minor injuries column")
print(df['Total.Minor.Injuries'].isna().sum())
print(df_clean['total_minor_injuries'].isna().sum())

print("Checking the total Uninjured column")
print(df['Total.Uninjured'].isna().sum())
print(df_clean['total_uninjured'].isna().sum())

df_clean['total_uninjured']

### Convert datetime from a string to a datetime object

In [ ]:
df_clean.event_date = pd.to_datetime(df_clean["event_date"], format="%Y-%m-%d")

Check and make sure that it worked

In [ ]:
df_clean.event_date

Now the values have been converted to a datetime object.

In [ ]:
df_clean.info()

### Cleaning The Engines Column

We are going to filter out all the NaN's from the engines column

In [ ]:
# Looking at the entries with nulls
df_clean[df_clean['number_of_engines'].isna()]

In [ ]:
# Drop the null values in number_of_engines
# This is because we need to know the number of engines for the plane model
df_clean.dropna(subset=['number_of_engines'], inplace=True)

df_clean['number_of_engines'].isna().sum()

### Checking out the make and model 
See what cleaning needs to be done.
Need to change cases

In [ ]:
df_clean['make'] = df_clean['make'].str.lower()

### Trying to fix the names of the make column

In [ ]:
df_clean['make'] = df_clean['make'].str.split().str[0]

### Combine the injuries columns into a total injuries column

In [ ]:
df_clean['total_injuries'] = df_clean['total_fatal_injuries'] + df_clean['total_serious_injuries'] + df_clean['total_minor_injuries']

In [ ]:
df_clean['total_injuries']

### Looking at broad phase of flight

There are nulls and unknowns. Change the nulls to unknown.

In [ ]:
df_clean['broad_phase_of_flight'].isna().sum()

In [ ]:
df_clean['broad_phase_of_flight'].value_counts()

In [ ]:
df_clean['broad_phase_of_flight'].str.contains('Unknown').sum()

### So there are 21991 nulls, and 542 unknowns.

We are going to change the nulls to unknowns.

In [ ]:
# This code takes the list of columns and what to fill the null values with 
df_clean['broad_phase_of_flight'] = df_clean['broad_phase_of_flight'].fillna('Unknown')

In [ ]:
df_clean['broad_phase_of_flight'].value_counts()

Worked.

### Looking into aircraft damage and doing the same thing

In [ ]:
df_clean['aircraft_damage'].isna().sum()

In [ ]:
df_clean['aircraft_damage'].value_counts()

There are a total of 61 unknowns and 2021 nulls.

Let's change those nulls to unknowns.

In [ ]:
df_clean['aircraft_damage'] = df_clean['aircraft_damage'].fillna('Unknown')

In [ ]:
df_clean['aircraft_damage'].isna().sum()

## Splitting The Data

Now that our data is looking pretty clean, let's split our data into relevant categories in order to solve our main business problem. These categories are airplanes and helicopters.

### We are going to drop 
the null and unknown values from engine_type for the dataframe because it is relevant to the safety

#### Dropping Null Values From engine_type

In [ ]:
df_clean.dropna(subset=['engine_type'], inplace=True)  
df_clean['e## Dropping Null Values From engine_type *ngine_type'].isna().sum()

#### Dropping unknown values from engine_type

In [ ]:
df_clean.drop(df_clean[(df_clean['engine_type'] == 'unknown')].index, inplace=True)
df_clean

#### Filtering down the engines 

Engines we don't want:
Reciprocating Engines

In [ ]:
df_clean_airplanes['engine_type'].value_counts().index

#### How to handle the Reciprocating engines? 
Remove the rows with reciprocating engines.

In [ ]:
# This code works by:
# Calling the drop() method and passing it the filtered rows we want to drop

# I want to drop the rows of df_clean_airplanes where the engine_type is Reciprocating
df_clean_airplanes.drop( df_clean_airplanes[df_clean_airplanes['engine_type'] == 'Reciprocating'].index , inplace=True)

## Splitting The Data

# Results

#### Question Statement:
Which aircrafts are the lowest risk?

#### What are our three concrete business recommendations
After anaylising our data we are able to come to the results that;

#### Passenger Transportation

- The Boeing 727 model is ideal for passenger transportaion because out of all 2407 plane crashes only 345 of them were a Boeing make 

- Out of all 345 Boeing crashes, only 16 of them were with the Boeing 727 model the only Boeing make with three engines.

- Out of all 16 Boeing crashes only 3 had any injuries related none of them being fatal. 

- We were able to reach this conclusion by analyzing the data set and filtering it down o specific compenents we were interested in looking at and then comparing the data sets with information like total crashes for makes or total crashes for a specific number of engined plane.

#### Cargo Transportation

- The Boeing 747 model is ideal for cargo transportation.
- We came to this conclusion by making a ratio of number of accidents to number of planes.
- When comparing the aircraft damage severity between the Boeings the 737 is smaller than the 747. 
- The Boeing 747 has 107 ton of capacity.
- The nose of the 747 opens (really cool).
- The 747 has a wide body which means more space. 
- The 747 also has 4 engines making it much safer.

#### Private Enterprises

- The Sikorsky S-92A is ideal for private enterprises
- Since certain makes and models  have more crash occurrences than others
- Used the mean to show the ratio of uninjured passengers to the number of accidents.