# This is the scratch notebook for EDA

#### First off, here is a link to the data

https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses

In [185]:
# First need import statements

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_colwidth', None)

### Question Statement:

#### Which aircraft are the lowest risk 

#### Have 3 concrete business recommendations

## Columns that might be relevant to answering our question

**For the damage**

10 - injury severity\
Still not sure what to do with this and how it relates to the other columns
11 aircraft damage\

12 Aircraft Category\
This has a lot of different types of flying stuff. We need to filter it by airplanes, because the rest are irrelevant to our data analysis - we are only looking for airplanes.

23 - Total Fatal Injuries\
24 - Total Serious Injuries\
25 - Total Minor Injuries\
26 - Total Uninjured\
*Need to figure out if this relates to the injury severity column*\
**Use a filter to check it out**

air carrier\
*What does air carrier mean?*\
It's just what company operates it.

16 - Amateur Built\
*So was it built by an amateur I guess?

Broad phase of flight\
just what phase the plane was in during the accident.


**For knowing what plane it is** 

make\
model

*We can't figure out which planes are safe if we don't even know which ones they are*


**Might be able to get interesting correlations from:**

17 - Number of engines\
18 - Engine type

## Columns that probably aren't helpful for answering our question

Event.Date\
Location\
Country\
Latitude\
Longitude\
Airport Name

Since we're trying to find which airplanes are the safest, knowing this information isn't really relevant.

## Exploring the columns

In [186]:
# Now import the data

df = pd.read_csv("./Data/AviationData.csv", encoding='latin-1', low_memory = False)

In [187]:
# Take a look

# print("These are the possible inputs for Aircraft Damage")
# print(df['Aircraft.damage'].value_counts().index)
# print()

# print("These are the possible inputs for Injury Severity (already looked at)")
# print(df['Injury.Severity'].value_counts().index)
# print()

# print("These are the possible inputs for Aircraft.Category")
# print(df['Aircraft.Category'].value_counts().index)
# print(df['Aircraft.Category'].value_counts().values)
# print()

# print("These are the possible inputs for investigation type")
# print(df['Investigation.Type'].value_counts().index)
# print()

# print("These are the possible inputs for Amateur.Built")
# print(df['Amateur.Built'].value_counts().index)
# print(df['Amateur.Built'].value_counts().values)

# print("These are the possible inputs for Report.Status")
# print(df['Report.Status'].value_counts().index)
# print(df['Report.Status'].value_counts().values)

# print("These are the possible inputs for Weather.Condition")
# print(df['Weather.Condition'].value_counts().index)
# print(df['Weather.Condition'].value_counts().values)

# print("These are the possible inputs for Accident.Number")
# print(df['Accident.Number'].value_counts().index)
# print(df['Accident.Number'].value_counts().values)


# print("These are the possible inputs for Airport.Code")
# print(df['Airport.Code'].value_counts().index)
# print(df['Airport.Code'].value_counts().values)

print("These are the possible inputs for FAR.Description")
print(df['FAR.Description'].value_counts().index)
print(df['FAR.Description'].value_counts().values)

print()

These are the possible inputs for FAR.Description
Index(['091', 'Part 91: General Aviation', 'NUSN', 'NUSC', '137', '135', '121',
       'Part 137: Agricultural', 'UNK', 'Part 135: Air Taxi & Commuter',
       'PUBU', '129', 'Part 121: Air Carrier', '133', 'Part 129: Foreign',
       'Non-U.S., Non-Commercial', 'Non-U.S., Commercial',
       'Part 133: Rotorcraft Ext. Load', 'Unknown', 'Public Use', '091K',
       'ARMF', '125', 'Part 125: 20+ Pax,6000+ lbs', '107', 'Public Aircraft',
       '103', 'Armed Forces', '437', 'Part 91 Subpart K: Fractional',
       'Part 91F: Special Flt Ops.'],
      dtype='object')
[18221  6486  1584  1013  1010   746   679   437   371   298   253   246
   165   107   100    97    93    32    22    19    14     8     5     5
     4     2     2     1     1     1     1]

In [ ]:
# What are the features (columns) of the data?

df.info()

In [ ]:
# Need to get a closer look at the data, make sure there aren't any errors in the namings

# There already is a problem in the weather condition column
# print("Weather condition column")
# print(df['Weather.Condition'].value_counts())
# print()
print("Injury Severity column")
print(df['Report.Status'].value_counts())
print(df['Report.Status'].value_counts().index)
print()


# print("Total.Fatal.Injuries")
# print(df['Total.Fatal.Injuries'].value_counts().index)
# print()

# print("Total.Serious.Injuries")
# print(df['Total.Serious.Injuries'].value_counts().index)
# print()

# print("Total.Minor.Injuries ")
# print(df['Total.Minor.Injuries'].value_counts().index)
# print()

# print("Total.Uninjured")
# print(df['Total.Uninjured'].value_counts().index)
# print()


# print("Aircraft.damage")
# print(df['Aircraft.damage'].value_counts().index)
# print()
# print("value counts")
# print()
# print(df['Aircraft.damage'].value_counts())
# print()
# print(df['Aircraft.damage'].unique)
# print()
# print("total nans")
# print()
# print(df['Aircraft.damage'].isna().sum())

print()
#df_clean['Injury.Severity']

#### It looks like there is a problem with the inputs in this column.

So we're given the status of the injury (it's severity), and then if it was fatal, how many fatalities there were

**How to deal with this

2 ways:

1. split the data and then glue it back together.
2. Parse the field and get out the data we need

In [ ]:
df['Weather.Condition'].value_counts()
df['Weather.Condition'].unique

In [ ]:
# Poke around inside the data

# Take a look at the first 5
print("Take a look at the first 5")
print(df.head())
print()

# What are the dimensions of the matrix?
print("What's the dimensions of the matrix?")
print(df.shape)
print()

print("Take a look at some statistics")
print(df.describe())
print()

In [ ]:
# Check it out with the info command
df.info()

In [ ]:
# Now let's check out how many NaN's there are

df.isna().sum()

# Cleaning The Data

One idea is to take the four rows:\
Total.Fatal.Injuries\
Total.Serious.Injuries\
Total.Minor.Injuries\
Total.Uninjured

And fill in the NaN's with the median of the data to deal with them.

And then once that is done, compare the median with the original median to make sure nothing has been changed.

## Handling the NaN's for the make and model columns

We are going to drop the rows for the missing make and model values
This is because we can't get any useful data from these if we don't know the make and the model!

In [ ]:
# First make a copy of the original data
df_clean = df.copy()
df_clean

### Drop the missing values from the Make and Model columns

In [ ]:
df_clean = df_clean.dropna(subset=['Make', 'Model'])

Take a look and see if it worked.

In [ ]:
df_clean.isna().sum()

## Let's also convert the name of the columns to something nicer

In [ ]:
df_clean.columns = df_clean.columns.str.strip().str.lower().str.replace('.', '_')

### Compare the two

In [ ]:
print("This is the original dataframe")
print()
print(df.info())
print()
print("This is the cleaned DataFrame")
print()
print(df_clean.info())
print()

### Handling the four rows

One idea is to take the four rows:\
Total.Fatal.Injuries\
Total.Serious.Injuries\
Total.Minor.Injuries\
Total.Uninjured

And fill in the NaN's with the median of the data to deal with them.

And then once that is done, compare the median with the original median to make sure nothing has been changed.

In [190]:
df_clean['total_fatal_injuries'].fillna(0, inplace=True)
df_clean['total_serious_injuries'].fillna(0, inplace=True)
df_clean['total_minor_injuries'].fillna(0, inplace=True)
df_clean['total_uninjured'].fillna(0, inplace=True)

C:\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Check and make sure the transforemation worked

In [191]:
print("Checking the total fatal injuries column")
print(df['Total.Fatal.Injuries'].isna().sum())
print(df_clean['total_fatal_injuries'].isna().sum())

print("Checking the total serious injuries column")
print(df['Total.Serious.Injuries'].isna().sum())
print(df_clean['total_serious_injuries'].isna().sum())

print("Checking the total Minor injuries column")
print(df['Total.Minor.Injuries'].isna().sum())
print(df_clean['total_minor_injuries'].isna().sum())

print("Checking the total Uninjured column")
print(df['Total.Uninjured'].isna().sum())
print(df_clean['total_uninjured'].isna().sum())

df_clean['total_uninjured']

Checking the total fatal injuries column
11401
0
Checking the total serious injuries column
12510
0
Checking the total Minor injuries column
11933
0
Checking the total Uninjured column
5912
0

0        0.0
1        0.0
2        1.0
3        0.0
4        0.0
        ...
88884    0.0
88885    0.0
88886    1.0
88887    0.0
88888    1.0
Name: total_uninjured, Length: 88777, dtype: float64

# Convert datetime from a string to a datetime object

In [192]:
df_clean.event_date = pd.to_datetime(df_clean["event_date"], format="%Y-%m-%d")

C:\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Check and make sure that it worked

In [193]:
df_clean.event_date

0       1948-10-24
1       1962-07-19
2       1974-08-30
3       1977-06-19
4       1979-08-02
           ...
88884   2022-12-26
88885   2022-12-26
88886   2022-12-26
88887   2022-12-26
88888   2022-12-29
Name: event_date, Length: 88777, dtype: datetime64[ns]

Now the values have been converted to a datetime object.

In [194]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  datetime64[ns]
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         85605 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    88777 non-null  float64
 24  total_serious_injuries  88777 non-null  float64
 25  total_minor_injuries    88777 non-null  float64
 26  total_uninjured         88777 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 21.7+ MB

In [195]:
df_clean_airplanes = df_clean.loc[df_clean['aircraft_category'] == 'Airplane']

In [196]:
df_clean_airplanes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27580 entries, 5 to 88886
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                27580 non-null  object
 1   investigation_type      27580 non-null  object
 2   accident_number         27580 non-null  object
 3   event_date              27580 non-null  datetime64[ns]
 4   location                27573 non-null  object
 5   country                 27573 non-null  object
 6   latitude                22082 non-null  object
 7   longitude               22073 non-null  object
 8   airport_code            17755 non-null  object
 9   airport_name            18234 non-null  object
 10  injury_severity         26768 non-null  object
 11  aircraft_damage         26301 non-null  object
 12  aircraft_category       27580 non-null  object
 13  registration_number     27357 non-null  object
 14  make                    27580 non-null  object
 15  model                   27580 non-null  object
 16  amateur_built           27563 non-null  object
 17  number_of_engines       24831 non-null  float64
 18  engine_type             23367 non-null  object
 19  far_description         27081 non-null  object
 20  schedule                2982 non-null   object
 21  purpose_of_flight       23850 non-null  object
 22  air_carrier             11257 non-null  object
 23  total_fatal_injuries    27580 non-null  float64
 24  total_serious_injuries  27580 non-null  float64
 25  total_minor_injuries    27580 non-null  float64
 26  total_uninjured         27580 non-null  float64
 27  weather_condition       24536 non-null  object
 28  broad_phase_of_flight   6385 non-null   object
 29  report_status           22618 non-null  object
 30  publication_date        26582 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 6.7+ MB

In [169]:
df_clean_airplanes['make']
# Company
df_clean_airplanes['model']
# honda civic

# Take 10 most popular makes
df_clean_airplanes['make'].value_counts()

# Fix the case on the data
df_clean_airplanes['make'] = df_clean_airplanes['make'].str.lower()
df_clean_airplanes['make'].value_counts().index

# Get the first 10
# df_clean_airplanes['make'].value_counts().head(10)

top_10_filter = df_clean_airplanes['make'].value_counts().head(10).index
top_10_filter

# df_clean_make_injury = df_clean_airplanes.loc[df_clean_airplanes['make'] == top_10_filter]\
df_clean_airplanes

total_fatal_injuries > 0


# What are the areas we could go into

<ipython-input-169-9525e7d78d70>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_airplanes['make'] = df_clean_airplanes['make'].str.lower()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88869,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022
88873,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,Personal,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88876,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022
88877,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,Personal,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022

In [197]:
df_clean_airplanes.to_csv('file_name.csv')
!ls

Data
EDA File.ipynb
Project1_Group2.ipynb
README.md
file_name.csv

In [155]:
df_clean_airplanes['total_fatal_injuries']

27580

# Checking out the make and model

See what cleaning needs to be done
What does the column contain?

In [206]:
df_clean_airplanes = df_clean_airplanes.reset_index()
df_clean_airplanes.drop(columns = ['index'], inplace=True)
df_clean_airplanes

,level_0,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,0,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,...,NaN,Air Canada,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
1,1,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
2,2,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
3,3,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
4,4,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27575,27575,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022
27576,27576,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,...,Personal,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
27577,27577,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022
27578,27578,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,...,Personal,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022
27579,27579,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022

In [199]:
# Take a look at the data pane
df_clean_airplanes['make']

5                 Mcdonnell Douglas
7                            Cessna
8                            Cessna
12                         Bellanca
13                           Cessna
                    ...
88869                         PIPER
88873            CIRRUS DESIGN CORP
88876                    SWEARINGEN
88877                        CESSNA
88886    AMERICAN CHAMPION AIRCRAFT
Name: make, Length: 27580, dtype: object

In [179]:
# First 10 in the make column
df_clean_airplanes['make'].head(10)
# What is with those indexes?

5     mcdonnell douglas
7                cessna
8                cessna
12             bellanca
13               cessna
14               navion
15                beech
17               cessna
18               cessna
20               cessna
Name: make, dtype: object

In [201]:
# Indexes are messed up
df_clean_airplanes['make'].isna().sum()
df_clean_airplanes['model'].isna().sum()

0

In [184]:
# Do some data analysis:
# 2.3.1  .head() : first 5 rows
# 2.3.2  .tail() : last 5 rows
# 2.3.3  .info() : information about the columns, including about nulls in those columns
# 2.3.4  .describe() : statistics about the data
# 2.3.5  .dtypes : data types of each column
# 2.3.6  .shape : number of rows and columns

df_clean_airplanes['make'].tail(10)
df_clean_airplanes['make'].value_counts()

cessna                8471
piper                 4714
beech                 1692
boeing                1321
mooney                 419
                      ...
quasar acft co llc       1
radford darrel f         1
von berg                 1
leineke walter l         1
darrow stephen a         1
Name: make, Length: 3533, dtype: int64

## Export

In [208]:
df_clean_airplanes.to_csv('cleaned.csv')
!ls

Data
EDA File.ipynb
Project1_Group2.ipynb
README.md
cleaned.csv
file_name.csv

## Now looking at the second data file

In [14]:
df2 = pd.read_csv("./Data/USState_Codes.csv")
df2

df2.head(61)

          US_State Abbreviation
0          Alabama           AL
1           Alaska           AK
2          Arizona           AZ
3         Arkansas           AR
4       California           CA
..             ...          ...
56     Puerto Rico           PR
57  Virgin Islands           VI
58   Washington_DC           DC
59  Gulf of mexico           GM
60  Atlantic ocean           AO

[61 rows x 2 columns]

### Not sure how useful this is going to be.