# This is the jupyter notebook for group 2 project 1

In [119]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [2]:
!ls

Data                  Project1_Group2.ipynb README.md

In [7]:
df1 = pd.read_csv("./Data/AviationData.csv", encoding='latin-1')

/Users/jonniebrown/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
df2 = pd.read_csv("./Data/USState_Codes.csv", encoding ='latin-1')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   US_State      62 non-null     object
 1   Abbreviation  62 non-null     object
dtypes: object(2)
memory usage: 1.1+ KB

In [12]:
df2.head()

     US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [14]:
df2.tail(10)

             US_State Abbreviation
52   Marshall Islands           MH
53         Micronesia           FM
54  Northern Marianas           MP
55              Palau           PW
56        Puerto Rico           PR
57     Virgin Islands           VI
58      Washington_DC           DC
59     Gulf of mexico           GM
60     Atlantic ocean           AO
61      Pacific ocean           PO

In [16]:
df1.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [19]:
df1['Purpose.of.flight'].value_counts()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [23]:
df1.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

drop the nulls for Make and Model

In [28]:

df1.dropna(subset=['Make'], inplace=True)

In [29]:
df1.dropna(subset=['Model'], inplace=True)

In [30]:
df1.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     225
Latitude                  54430
Longitude                 54439
Airport.Code              38564
Airport.Name              36031
Injury.Severity             979
Aircraft.damage            3172
Aircraft.Category         56532
Registration.Number        1275
Make                          0
Model                         0
Amateur.Built                99
Number.of.Engines          6023
Engine.Type                7006
FAR.Description           56841
Schedule                  76245
Purpose.of.flight          6138
Air.carrier               72168
Total.Fatal.Injuries      11386
Total.Serious.Injuries    12490
Total.Minor.Injuries      11914
Total.Uninjured            5897
Weather.Condition          4439
Broad.phase.of.flight     27094
Report.Status              6335
Publication.Date          13765
dtype: int64

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88777 non-null  object
 1   Investigation.Type      88777 non-null  object
 2   Accident.Number         88777 non-null  object
 3   Event.Date              88777 non-null  object
 4   Location                88725 non-null  object
 5   Country                 88552 non-null  object
 6   Latitude                34347 non-null  object
 7   Longitude               34338 non-null  object
 8   Airport.Code            50213 non-null  object
 9   Airport.Name            52746 non-null  object
 10  Injury.Severity         87798 non-null  object
 11  Aircraft.damage         85605 non-null  object
 12  Aircraft.Category       32245 non-null  object
 13  Registration.Number     87502 non-null  object
 14  Make                    88777 non-null  object
 15  Model                   88777 non-null  object
 16  Amateur.Built           88678 non-null  object
 17  Number.of.Engines       82754 non-null  float64
 18  Engine.Type             81771 non-null  object
 19  FAR.Description         31936 non-null  object
 20  Schedule                12532 non-null  object
 21  Purpose.of.flight       82639 non-null  object
 22  Air.carrier             16609 non-null  object
 23  Total.Fatal.Injuries    77391 non-null  float64
 24  Total.Serious.Injuries  76287 non-null  float64
 25  Total.Minor.Injuries    76863 non-null  float64
 26  Total.Uninjured         82880 non-null  float64
 27  Weather.Condition       84338 non-null  object
 28  Broad.phase.of.flight   61683 non-null  object
 29  Report.Status           82442 non-null  object
 30  Publication.Date        75012 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [38]:
# clean column names
df1.columns = df1.columns.str.strip().str.lower().str.replace('.', '_')

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  object
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         85605 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    77391 non-null  float64
 24  total_serious_injuries  76287 non-null  float64
 25  total_minor_injuries    76863 non-null  float64
 26  total_uninjured         82880 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

inside weather condition, we have UNK and Unk...

In [50]:
df1.weather_condition.value_counts()

VMC    77251
IMC     5971
UNK     1116
Name: weather_condition, dtype: int64

In [49]:
df1.weather_condition = df1.weather_condition.str.replace('Unk', 'UNK')

In [51]:
df1.weather_condition.value_counts()

VMC    77251
IMC     5971
UNK     1116
Name: weather_condition, dtype: int64

In [53]:
df1.far_description.value_counts()

091                               18220
Part 91: General Aviation          6462
NUSN                               1573
137                                1010
NUSC                                987
135                                 746
121                                 674
Part 137: Agricultural              435
UNK                                 362
Part 135: Air Taxi & Commuter       297
PUBU                                253
129                                 244
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                    98
Non-U.S., Non-Commercial             96
Non-U.S., Commercial                 91
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  7
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
107                                   4
Public Aircraft                       2
103                                   2
Part 91F: Special Flt Ops.            1
Armed Forces                          1
Part 91 Subpart K: Fractional         1
437                                   1
Name: far_description, dtype: int64

In [54]:
df1.isna().sum()

event_id                      0
investigation_type            0
accident_number               0
event_date                    0
location                     52
country                     225
latitude                  54430
longitude                 54439
airport_code              38564
airport_name              36031
injury_severity             979
aircraft_damage            3172
aircraft_category         56532
registration_number        1275
make                          0
model                         0
amateur_built                99
number_of_engines          6023
engine_type                7006
far_description           56841
schedule                  76245
purpose_of_flight          6138
air_carrier               72168
total_fatal_injuries      11386
total_serious_injuries    12490
total_minor_injuries      11914
total_uninjured            5897
weather_condition          4439
broad_phase_of_flight     27094
report_status              6335
publication_date          13765
dtype: int64

In [55]:
df1.amateur_built.value_counts()

No     80240
Yes     8438
Name: amateur_built, dtype: int64

In [60]:
df1.make.value_counts().head(12)

Cessna      22226
Piper       12029
CESSNA       4919
Beech        4330
PIPER        2840
Bell         2134
Boeing       1593
BOEING       1145
Grumman      1094
Mooney       1092
BEECH        1041
Robinson      946
Name: make, dtype: int64

looks like there are many duplicates!!!!

In [61]:
df1.make = df1.make.str.lower()

In [62]:
df1.make.value_counts().head(12)

cessna         27145
piper          14869
beech           5371
boeing          2738
bell            2722
mooney          1334
robinson        1229
grumman         1172
bellanca        1045
hughes           932
schweizer        773
air tractor      691
Name: make, dtype: int64

In [63]:
df1.make.value_counts().tail(12)

cleveland orson          1
bensen aircraft corp.    1
chambers                 1
yowell                   1
darlington               1
keuthan aircraft corp    1
haltom                   1
burnett, jerry d.        1
zivko aeronautics        1
flynn william            1
neyman-pietenpol         1
eklund                   1
Name: make, dtype: int64

In [70]:
df1.model.value_counts()

152               2367
172               1756
172N              1164
PA-28-140          932
150                829
                  ...
CHR-1                1
A-4                  1
AIRCAMPER GN-1       1
55-95B55B            1
PA-28R-210T          1
Name: model, Length: 12311, dtype: int64

In [69]:
print(df1['injury_severity'].value_counts().index)

Index(['Non-Fatal', 'Fatal(1)', 'Fatal', 'Fatal(2)', 'Incident', 'Fatal(3)',
       'Fatal(4)', 'Fatal(5)', 'Minor', 'Serious',
       ...
       'Fatal(73)', 'Fatal(30)', 'Fatal(174)', 'Fatal(88)', 'Fatal(153)',
       'Fatal(110)', 'Fatal(144)', 'Fatal(33)', 'Fatal(217)', 'Fatal(124)'],
      dtype='object', length=109)

In [72]:
df1.number_of_engines.value_counts()

1.0    69538
2.0    11072
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: number_of_engines, dtype: int64

In [74]:
df1.number_of_engines.dtype

dtype('float64')

In [75]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  object
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         85605 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    77391 non-null  float64
 24  total_serious_injuries  76287 non-null  float64
 25  total_minor_injuries    76863 non-null  float64
 26  total_uninjured         82880 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: float64(5), object(26)
memory usage: 24.2+ MB

In [76]:
df1.event_date

0        1948-10-24
1        1962-07-19
2        1974-08-30
3        1977-06-19
4        1979-08-02
            ...
88884    2022-12-26
88885    2022-12-26
88886    2022-12-26
88887    2022-12-26
88888    2022-12-29
Name: event_date, Length: 88777, dtype: object

In [80]:
df1.aircraft_damage.value_counts()

Substantial    64097
Destroyed      18597
Minor           2792
Unknown          119
Name: aircraft_damage, dtype: int64

replace nulls with "unknown" in aircraft damage column

In [82]:
df1.aircraft_damage.fillna('Unkown', inplace=True)

In [84]:
df1.event_date = pd.to_datetime(df1["event_date"], format="%Y-%m-%d")

In [85]:
df1.event_date

0       1948-10-24
1       1962-07-19
2       1974-08-30
3       1977-06-19
4       1979-08-02
           ...
88884   2022-12-26
88885   2022-12-26
88886   2022-12-26
88887   2022-12-26
88888   2022-12-29
Name: event_date, Length: 88777, dtype: datetime64[ns]

In [86]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  datetime64[ns]
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         88777 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    77391 non-null  float64
 24  total_serious_injuries  76287 non-null  float64
 25  total_minor_injuries    76863 non-null  float64
 26  total_uninjured         82880 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 24.2+ MB

In [88]:
df1.broad_phase_of_flight.value_counts()

Landing        15423
Takeoff        12481
Cruise         10263
Maneuvering     8138
Approach        6538
Climb           2031
Taxi            1958
Descent         1886
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: broad_phase_of_flight, dtype: int64

In [90]:
df1.location.value_counts().head(12)

ANCHORAGE, AK       434
MIAMI, FL           200
ALBUQUERQUE, NM     196
HOUSTON, TX         193
CHICAGO, IL         184
FAIRBANKS, AK       173
TUCSON, AZ          142
PHOENIX, AZ         132
ORLANDO, FL         132
ENGLEWOOD, CO       131
JACKSONVILLE, FL    119
SAN DIEGO, CA       119
Name: location, dtype: int64

In [96]:
df1.event_date.dtype

dtype('<M8[ns]')

In [99]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  datetime64[ns]
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         88777 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    77391 non-null  float64
 24  total_serious_injuries  76287 non-null  float64
 25  total_minor_injuries    76863 non-null  float64
 26  total_uninjured         82880 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 24.2+ MB

In [101]:
df1.schedule.value_counts()

NSCH    4460
UNK     4096
SCHD    3976
Name: schedule, dtype: int64

In [106]:
df1.aircraft_damage.value_counts()

Substantial    64097
Destroyed      18597
Unknown         3291
Minor           2792
Name: aircraft_damage, dtype: int64

In [105]:
df1.aircraft_damage = df1.aircraft_damage.str.replace('Unkown', "Unknown")

In [108]:
df1.aircraft_category.value_counts()

Airplane             27580
Helicopter            3435
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: aircraft_category, dtype: int64

In [110]:
df1.event_date.weekday()

AttributeError: 'Series' object has no attribute 'weekday'

In [116]:
df1.isna().sum()

event_id                      0
investigation_type            0
accident_number               0
event_date                    0
location                     52
country                     225
latitude                  54430
longitude                 54439
airport_code              38564
airport_name              36031
injury_severity             979
aircraft_damage               0
aircraft_category         56532
registration_number        1275
make                          0
model                         0
amateur_built                99
number_of_engines          6023
engine_type                7006
far_description           56841
schedule                  76245
purpose_of_flight          6138
air_carrier               72168
total_fatal_injuries      11386
total_serious_injuries    12490
total_minor_injuries      11914
total_uninjured            5897
weather_condition          4439
broad_phase_of_flight     27094
report_status              6335
publication_date          13765
dtype: int64

In [127]:
df1.schedule.value_counts()

NSCH    4460
UNK     4096
SCHD    3976
Name: schedule, dtype: int64

In [128]:
df_clean_airplanes = df1.loc[df1['air_carrier'] == 'Airplane']

In [129]:
df_clean_airplanes['air_carrier'].value_counts()

Series([], Name: air_carrier, dtype: int64)

In [130]:
df_clean_airplanes.head()

Empty DataFrame
Columns: [event_id, investigation_type, accident_number, event_date, location, country, latitude, longitude, airport_code, airport_name, injury_severity, aircraft_damage, aircraft_category, registration_number, make, model, amateur_built, number_of_engines, engine_type, far_description, schedule, purpose_of_flight, air_carrier, total_fatal_injuries, total_serious_injuries, total_minor_injuries, total_uninjured, weather_condition, broad_phase_of_flight, report_status, publication_date]
Index: []

[0 rows x 31 columns]

In [131]:
df_clean_airplanes = df1.loc[df1['aircraft_category'] == 'Airplane']

In [132]:
df_clean_airplanes.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983

In [ ]:
df_clean_airplanes.loc[ df_clean_airplanes[]]

In [133]:
df_clean_airplanes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27580 entries, 5 to 88886
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                27580 non-null  object
 1   investigation_type      27580 non-null  object
 2   accident_number         27580 non-null  object
 3   event_date              27580 non-null  datetime64[ns]
 4   location                27573 non-null  object
 5   country                 27573 non-null  object
 6   latitude                22082 non-null  object
 7   longitude               22073 non-null  object
 8   airport_code            17755 non-null  object
 9   airport_name            18234 non-null  object
 10  injury_severity         26768 non-null  object
 11  aircraft_damage         27580 non-null  object
 12  aircraft_category       27580 non-null  object
 13  registration_number     27357 non-null  object
 14  make                    27580 non-null  object
 15  model                   27580 non-null  object
 16  amateur_built           27563 non-null  object
 17  number_of_engines       24831 non-null  float64
 18  engine_type             23367 non-null  object
 19  far_description         27081 non-null  object
 20  schedule                2982 non-null   object
 21  purpose_of_flight       23850 non-null  object
 22  air_carrier             11257 non-null  object
 23  total_fatal_injuries    24421 non-null  float64
 24  total_serious_injuries  24364 non-null  float64
 25  total_minor_injuries    24709 non-null  float64
 26  total_uninjured         26686 non-null  float64
 27  weather_condition       24536 non-null  object
 28  broad_phase_of_flight   6385 non-null   object
 29  report_status           22618 non-null  object
 30  publication_date        26582 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 6.7+ MB

In [135]:
df_clean_airplanes['total_fatal_injuries'].isna().sum()

3159

In [136]:
len(df_clean_airplanes['total_fatal_injuries'])

27580

In [139]:
df_clean_airplanes.loc[:, 'injury_severity', 'total_fatal_injuries']

IndexingError: Too many indexers

In [140]:
df_clean_airplanes['injury_severity'].value_counts()

Non-Fatal      21041
Fatal           4234
Fatal(1)         384
Fatal(2)         276
Incident         244
Minor            165
Serious          127
Fatal(3)          89
Fatal(4)          79
Fatal(5)          26
Fatal(6)          21
Unavailable       20
Fatal(7)          13
Fatal(8)          13
Fatal(10)          7
Fatal(12)          4
Fatal(13)          2
Fatal(154)         2
Fatal(65)          1
Fatal(160)         1
Fatal(54)          1
Fatal(17)          1
Fatal(24)          1
Fatal(228)         1
Fatal(113)         1
Fatal(35)          1
Fatal(26)          1
Fatal(169)         1
Fatal(14)          1
Fatal(11)          1
Fatal(27)          1
Fatal(19)          1
Fatal(9)           1
Fatal(20)          1
Fatal(16)          1
Fatal(97)          1
Fatal(131)         1
Fatal(18)          1
Fatal(125)         1
Name: injury_severity, dtype: int64

In [142]:
df_clean_airplanes.loc[ :, df_clean_airplanes['total_fatal_injuries'], df_clean_airplanes['total_serious_injuries']]

IndexingError: Too many indexers

In [143]:
df_clean_airplanes['total_fatal_injuries'].fillna(0, inplace=True)
df_clean_airplanes['total_serious_injuries'].fillna(0, inplace=True)
df_clean_airplanes['total_minor_injuries'].fillna(0, inplace=True)
df_clean_airplanes['total_uninjured'].fillna(0, inplace=True)

/Users/jonniebrown/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [144]:
df_clean_airplanes.isna().sum()

event_id                      0
investigation_type            0
accident_number               0
event_date                    0
location                      7
country                       7
latitude                   5498
longitude                  5507
airport_code               9825
airport_name               9346
injury_severity             812
aircraft_damage               0
aircraft_category             0
registration_number         223
make                          0
model                         0
amateur_built                17
number_of_engines          2749
engine_type                4213
far_description             499
schedule                  24598
purpose_of_flight          3730
air_carrier               16323
total_fatal_injuries          0
total_serious_injuries        0
total_minor_injuries          0
total_uninjured               0
weather_condition          3044
broad_phase_of_flight     21195
report_status              4962
publication_date            998
dtype: int64

In [145]:
df_clean_airplanes['injury_severity'].isna().sum()

812