# This is the scratch notebook for EDA

#### First off, here is a link to the data

https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses

In [2]:
# First need import statements

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_colwidth', None)

### Question Statement:

#### Which aircraft are the lowest risk 

#### Have 3 concrete business recommendations

## Exploring the columns

In [3]:
# Now import the data

df = pd.read_csv("./Data/AviationData.csv", encoding='latin-1', low_memory = False)

In [4]:
# Take a look

# print("These are the possible inputs for Aircraft Damage")
# print(df['Aircraft.damage'].value_counts().index)
# print()

# print("These are the possible inputs for Injury Severity (already looked at)")
# print(df['Injury.Severity'].value_counts().index)
# print()

# print("These are the possible inputs for Aircraft.Category")
# print(df['Aircraft.Category'].value_counts().index)
# print(df['Aircraft.Category'].value_counts().values)
# print()

# print("These are the possible inputs for investigation type")
# print(df['Investigation.Type'].value_counts().index)
# print()

# print("These are the possible inputs for Amateur.Built")
# print(df['Amateur.Built'].value_counts().index)
# print(df['Amateur.Built'].value_counts().values)

# print("These are the possible inputs for Report.Status")
# print(df['Report.Status'].value_counts().index)
# print(df['Report.Status'].value_counts().values)

# print("These are the possible inputs for Weather.Condition")
# print(df['Weather.Condition'].value_counts().index)
# print(df['Weather.Condition'].value_counts().values)

# print("These are the possible inputs for Accident.Number")
# print(df['Accident.Number'].value_counts().index)
# print(df['Accident.Number'].value_counts().values)


# print("These are the possible inputs for Airport.Code")
# print(df['Airport.Code'].value_counts().index)
# print(df['Airport.Code'].value_counts().values)

print("These are the possible inputs for FAR.Description")
print(df['FAR.Description'].value_counts().index)
print(df['FAR.Description'].value_counts().values)

print()

These are the possible inputs for FAR.Description
Index(['091', 'Part 91: General Aviation', 'NUSN', 'NUSC', '137', '135', '121',
       'Part 137: Agricultural', 'UNK', 'Part 135: Air Taxi & Commuter',
       'PUBU', '129', 'Part 121: Air Carrier', '133', 'Part 129: Foreign',
       'Non-U.S., Non-Commercial', 'Non-U.S., Commercial',
       'Part 133: Rotorcraft Ext. Load', 'Unknown', 'Public Use', '091K',
       'ARMF', 'Part 125: 20+ Pax,6000+ lbs', '125', '107', '103',
       'Public Aircraft', 'Part 91F: Special Flt Ops.', 'Armed Forces',
       'Part 91 Subpart K: Fractional', '437'],
      dtype='object')
[18221  6486  1584  1013  1010   746   679   437   371   298   253   246
   165   107   100    97    93    32    22    19    14     8     5     5
     4     2     2     1     1     1     1]

In [5]:
# What are the features (columns) of the data?

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [6]:
# Need to get a closer look at the data, make sure there aren't any errors in the namings

# There already is a problem in the weather condition column
# print("Weather condition column")
# print(df['Weather.Condition'].value_counts())
# print()
print("Injury Severity column")
print(df['Report.Status'].value_counts())
print(df['Report.Status'].value_counts().index)
print()


# print("Total.Fatal.Injuries")
# print(df['Total.Fatal.Injuries'].value_counts().index)
# print()

# print("Total.Serious.Injuries")
# print(df['Total.Serious.Injuries'].value_counts().index)
# print()

# print("Total.Minor.Injuries ")
# print(df['Total.Minor.Injuries'].value_counts().index)
# print()

# print("Total.Uninjured")
# print(df['Total.Uninjured'].value_counts().index)
# print()


# print("Aircraft.damage")
# print(df['Aircraft.damage'].value_counts().index)
# print()
# print("value counts")
# print()
# print(df['Aircraft.damage'].value_counts())
# print()
# print(df['Aircraft.damage'].unique)
# print()
# print("total nans")
# print()
# print(df['Aircraft.damage'].isna().sum())

print()
#df_clean['Injury.Severity']

Injury Severity column
Probable Cause                                                                                                                                                                                                                                                                                                                                                                                                  61754
Foreign                                                                                                                                                                                                                                                                                                                                                                                                          1999
<br /><br />                                                                                                                                                                                                                                                                                                                                                                                                      167
Factual                                                                                                                                                                                                                                                                                                                                                                                                           145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                                                                                                                       56
                                                                                                                                                                                                                                                                                                                                                                                                                ...
The loss of engine power due to carburetor icing and the pilot's failure to use carburetor heat.                                                                                                                                                                                                                                                                                                                    1
The flight instructors failure to maintain airspeed during an approach with a simulated engine failure, which resulted in an exceedance of the wings critical angle-of-attack and a subsequent aerodynamic stall/spin.\r                                                                                                                                                                                          1
The other pilots failure to see and avoid another airplane parked on the taxiway while taxiing in sun glare conditions.\r                                                                                                                                                                                                                                                                                          1
The pilot's failure to maintain adequate airspeed while maneuvering at low altitude in hilly terrain, which resulted in the airplane's wing exceeding its critical angle-of-attack and a subsequent aerodynamic stall. Contributing to the accident were the pilot's inability to recognize the rising terrain due to the sun glare and the pilot's operation of the airplane in excess of its gross weight.        1
The flight crew's misjudgment of terrain clearance while maneuvering for an aerial application run, which resulted in controlled flight into terrain. Contributing to the accident was the flight crew's failure to follow the lead airplane's track and to effectively compensate for the tailwind condition while maneuvering.                                                                                    1
Name: Report.Status, Length: 17075, dtype: int64
Index(['Probable Cause', 'Foreign', '<br /><br />', 'Factual',
       'The pilot's failure to maintain directional control during the landing roll.',
       'A loss of engine power for undetermined reasons.',
       'The pilot's failure to maintain directional control during landing.',
       'A total loss of engine power for undetermined reasons.',
       'The loss of engine power for undetermined reasons.',
       'The pilots failure to maintain directional control during the landing roll.\r\n\r',
       ...
       'A stuck brake caliper, which overheated while the pilot was taxiing the airplane, caught fire, and subsequently destroyed the airplane. \r',
       'The balloon pilot's encounter with higher-than-expected wind velocity, which resulted in a hard landing and passenger injury.',
       'A preexisting stress rupture that initiated at a spot weld in the turbocharger v-band exhaust clamp, which resulted in the failure of the clamp and separation of the exhaust tailpipe, an in-flight fire, and subsequent impact with terrain.',
       'The pilots failure to maintain centerline in dusk light conditions which resulted in impact with trees. \r',
       'The pilot's inadequate compensation for the wind conditions, failure to attain and maintain an adequate airspeed that resulted in a stall mush, and, the subsequent failure to maintain terrain and obstacle clearance during the takeoff initial climb. Contributing factors were the tailwind weather condition, and the one-way direction requirements of the airstrip.',
       'The loss of engine power due to carburetor icing and the pilot's failure to use carburetor heat.',
       'The flight instructors failure to maintain airspeed during an approach with a simulated engine failure, which resulted in an exceedance of the wings critical angle-of-attack and a subsequent aerodynamic stall/spin.\r',
       'The other pilots failure to see and avoid another airplane parked on the taxiway while taxiing in sun glare conditions.\r',
       'The pilot's failure to maintain adequate airspeed while maneuvering at low altitude in hilly terrain, which resulted in the airplane's wing exceeding its critical angle-of-attack and a subsequent aerodynamic stall. Contributing to the accident were the pilot's inability to recognize the rising terrain due to the sun glare and the pilot's operation of the airplane in excess of its gross weight.',
       'The flight crew's misjudgment of terrain clearance while maneuvering for an aerial application run, which resulted in controlled flight into terrain. Contributing to the accident was the flight crew's failure to follow the lead airplane's track and to effectively compensate for the tailwind condition while maneuvering.'],
      dtype='object', length=17075)

#### It looks like there is a problem with the inputs in this column.

So we're given the status of the injury (it's severity), and then if it was fatal, how many fatalities there were

**How to deal with this

2 ways:

1. split the data and then glue it back together.
2. Parse the field and get out the data we need

In [7]:
df['Weather.Condition'].value_counts()
df['Weather.Condition'].unique

<bound method Series.unique of 0        UNK
1        UNK
2        IMC
3        IMC
4        VMC
        ...
88884    NaN
88885    NaN
88886    VMC
88887    NaN
88888    NaN
Name: Weather.Condition, Length: 88889, dtype: object>

In [8]:
# Poke around inside the data

# Take a look at the first 5
print("Take a look at the first 5")
print(df.head())
print()

# What are the dimensions of the matrix?
print("What's the dimensions of the matrix?")
print(df.shape)
print()

print("Take a look at some statistics")
print(df.describe())
print()

Take a look at the first 5
         Event.Id Investigation.Type Accident.Number  Event.Date  \
0  20001218X45444           Accident      SEA87LA080  1948-10-24
1  20001218X45447           Accident      LAX94LA336  1962-07-19
2  20061025X01555           Accident      NYC07LA005  1974-08-30
3  20001218X45448           Accident      LAX96LA321  1977-06-19
4  20041105X01764           Accident      CHI79FA064  1979-08-02

          Location        Country   Latitude   Longitude Airport.Code  \
0  MOOSE CREEK, ID  United States        NaN         NaN          NaN
1   BRIDGEPORT, CA  United States        NaN         NaN          NaN
2    Saltville, VA  United States  36.922223  -81.878056          NaN
3       EUREKA, CA  United States        NaN         NaN          NaN
4       Canton, OH  United States        NaN         NaN          NaN

  Airport.Name  ... Purpose.of.flight Air.carrier Total.Fatal.Injuries  \
0          NaN  ...          Personal         NaN                  2.0
1          NaN  ...          Personal         NaN                  4.0
2          NaN  ...          Personal         NaN                  3.0
3          NaN  ...          Personal         NaN                  2.0
4          NaN  ...          Personal         NaN                  1.0

  Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
0                    0.0                  0.0             0.0
1                    0.0                  0.0             0.0
2                    NaN                  NaN             NaN
3                    0.0                  0.0             0.0
4                    2.0                  NaN             0.0

  Weather.Condition  Broad.phase.of.flight   Report.Status Publication.Date
0               UNK                 Cruise  Probable Cause              NaN
1               UNK                Unknown  Probable Cause       19-09-1996
2               IMC                 Cruise  Probable Cause       26-02-2007
3               IMC                 Cruise  Probable Cause       12-09-2000
4               VMC               Approach  Probable Cause       16-04-1980

[5 rows x 31 columns]

What's the dimensions of the matrix?
(88889, 31)

Take a look at some statistics
       Number.of.Engines  Total.Fatal.Injuries  Total.Serious.Injuries  \
count       82805.000000          77488.000000            76379.000000
mean            1.146585              0.647855                0.279881
std             0.446510              5.485960                1.544084
min             0.000000              0.000000                0.000000
25%             1.000000              0.000000                0.000000
50%             1.000000              0.000000                0.000000
75%             1.000000              0.000000                0.000000
max             8.000000            349.000000              161.000000

       Total.Minor.Injuries  Total.Uninjured
count          76956.000000     82977.000000
mean               0.357061         5.325440
std                2.235625        27.913634
min                0.000000         0.000000
25%                0.000000         0.000000
50%                0.000000         1.000000
75%                0.000000         2.000000
max              380.000000       699.000000

In [9]:
# Check it out with the info command
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [10]:
# Now let's check out how many NaN's there are

df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

# Cleaning The Data

One idea is to take the four rows:\
Total.Fatal.Injuries\
Total.Serious.Injuries\
Total.Minor.Injuries\
Total.Uninjured

And fill in the NaN's with the median of the data to deal with them.

And then once that is done, compare the median with the original median to make sure nothing has been changed.

## Handling the NaN's for the make and model columns

We are going to drop the rows for the missing make and model values
This is because we can't get any useful data from these if we don't know the make and the model!

In [11]:
# First make a copy of the original data
df_clean = df.copy()
df_clean

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

### Drop the missing values from the Make and Model columns

In [12]:
df_clean = df_clean.dropna(subset=['Make', 'Model'])

Take a look and see if it worked.

In [13]:
df_clean.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     225
Latitude                  54430
Longitude                 54439
Airport.Code              38564
Airport.Name              36031
Injury.Severity             979
Aircraft.damage            3172
Aircraft.Category         56532
Registration.Number        1275
Make                          0
Model                         0
Amateur.Built                99
Number.of.Engines          6023
Engine.Type                7006
FAR.Description           56841
Schedule                  76245
Purpose.of.flight          6138
Air.carrier               72168
Total.Fatal.Injuries      11386
Total.Serious.Injuries    12490
Total.Minor.Injuries      11914
Total.Uninjured            5897
Weather.Condition          4439
Broad.phase.of.flight     27094
Report.Status              6335
Publication.Date          13765
dtype: int64

## Let's also convert the name of the columns to something nicer

In [14]:
df_clean.columns = df_clean.columns.str.strip().str.lower().str.replace('.', '_')

### Compare the two

In [15]:
print("This is the original dataframe")
print()
print(df.info())
print()
print("This is the cleaned DataFrame")
print()
print(df_clean.info())
print()

This is the original dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB
None

This is the cleaned DataFrame

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  object
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         85605 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    77391 non-null  float64
 24  total_serious_injuries  76287 non-null  float64
 25  total_minor_injuries    76863 non-null  float64
 26  total_uninjured         82880 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB
None

### Handling the four rows

One idea is to take the four rows:\
Total.Fatal.Injuries\
Total.Serious.Injuries\
Total.Minor.Injuries\
Total.Uninjured

We instead looked at the excel document, noticed that the NaN's were supposed to be zeroes, and then filled in the missing values with zeroes.

In [16]:
df_clean['total_fatal_injuries'].fillna(0, inplace=True)
df_clean['total_serious_injuries'].fillna(0, inplace=True)
df_clean['total_minor_injuries'].fillna(0, inplace=True)
df_clean['total_uninjured'].fillna(0, inplace=True)

C:\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Check and make sure the transforemation worked

In [17]:
print("Checking the total fatal injuries column")
print(df['Total.Fatal.Injuries'].isna().sum())
print(df_clean['total_fatal_injuries'].isna().sum())

print("Checking the total serious injuries column")
print(df['Total.Serious.Injuries'].isna().sum())
print(df_clean['total_serious_injuries'].isna().sum())

print("Checking the total Minor injuries column")
print(df['Total.Minor.Injuries'].isna().sum())
print(df_clean['total_minor_injuries'].isna().sum())

print("Checking the total Uninjured column")
print(df['Total.Uninjured'].isna().sum())
print(df_clean['total_uninjured'].isna().sum())

df_clean['total_uninjured']

Checking the total fatal injuries column
11401
0
Checking the total serious injuries column
12510
0
Checking the total Minor injuries column
11933
0
Checking the total Uninjured column
5912
0

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
88884    0.0
88885    0.0
88886    1.0
88887    0.0
88888    1.0
Name: total_uninjured, Length: 88777, dtype: float64

# Convert datetime from a string to a datetime object

In [18]:
df_clean.event_date = pd.to_datetime(df_clean["event_date"], format="%Y-%m-%d")

C:\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Check and make sure that it worked

In [19]:
df_clean.event_date

0       1948-10-24
1       1962-07-19
2       1974-08-30
3       1977-06-19
4       1979-08-02
           ...
88884   2022-12-26
88885   2022-12-26
88886   2022-12-26
88887   2022-12-26
88888   2022-12-29
Name: event_date, Length: 88777, dtype: datetime64[ns]

Now the values have been converted to a datetime object.

In [20]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  datetime64[ns]
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         85605 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    88777 non-null  float64
 24  total_serious_injuries  88777 non-null  float64
 25  total_minor_injuries    88777 non-null  float64
 26  total_uninjured         88777 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 21.7+ MB

# Cleaning The Engines Column

We are going to filter out all the NaN's from the engines column

In [21]:
# Looking at the entries with nulls
df_clean[df_clean['number_of_engines'].isna()]

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,0.0,0.0,VMC,Approach,Probable Cause,16-04-1980
3600,20001214X42040,Accident,LAX83LA093,1983-01-01,"ARROYO GRANDE, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,VMC,Landing,Probable Cause,NaN
3741,20001214X42020,Accident,LAX83FUG14,1983-01-22,"NORTH SHORE, CA",United States,NaN,NaN,NaN,DESERT AIR SKY RANCH,...,Instructional,NaN,0.0,1.0,0.0,0.0,VMC,Takeoff,Probable Cause,NaN
3772,20001214X41990,Accident,FTW83FA102,1983-01-29,"HEMPSTEAD, TX",United States,NaN,NaN,35R,HEMPSTEAD,...,Instructional,NaN,1.0,0.0,0.0,0.0,VMC,Approach,Probable Cause,NaN
3870,20001214X42203,Accident,FTW83LA112,1983-02-12,"LITTLEFIELD, TX",United States,NaN,NaN,Q00,LITTLEFIELD,...,Instructional,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88883,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,28-12-2022
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [22]:
# Drop the null values in number_of_engines
# This is because we need to know the number of engines for the plane model
df_clean.dropna(subset=['number_of_engines'], inplace=True)

df_clean['number_of_engines'].isna().sum()

<ipython-input-22-43b379e53ea4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.dropna(subset=['number_of_engines'], inplace=True)

0

# Checking out the make and model

See what cleaning needs to be done
What does the column contain?

In [23]:
df_clean = df_clean.reset_index()
df_clean.drop(columns = ['index'], inplace=True)
df_clean

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82749,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022
82750,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,Personal,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
82751,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022
82752,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,Personal,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022
82753,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022

In [24]:
# Take a look at the data pane
df_clean['make']

0                           Stinson
1                             Piper
2                            Cessna
3                          Rockwell
4                 Mcdonnell Douglas
                    ...
82749                         PIPER
82750            CIRRUS DESIGN CORP
82751                    SWEARINGEN
82752                        CESSNA
82753    AMERICAN CHAMPION AIRCRAFT
Name: make, Length: 82754, dtype: object

### Need to change case

In [25]:
df_clean['make'] = df_clean['make'].str.lower()

In [26]:
# Do some data analysis:
# 2.3.1  .head() : first 5 rows
# 2.3.2  .tail() : last 5 rows
# 2.3.3  .info() : information about the columns, including about nulls in those columns
# 2.3.4  .describe() : statistics about the data
# 2.3.5  .dtypes : data types of each column
# 2.3.6  .shape : number of rows and columns

## Dropping Null Values From engine_type

In [44]:
df_clean.dropna(subset=['engine_type'], inplace=True)  
df_clean['engine_type'].isna().sum()

0

## Dropping unknown values from engine_type

In [52]:
#df_clean['engine_type'].drop(axis=0, index=('unknown'))

df_clean.drop(df_clean[(df_clean['engine_type'] == 'unknown')].index, inplace=True)
df_clean

# Filtering

We are going to make two dataframes. 

One with only airplanes and one with only helicopters.

### Categories of interest:
    
    Airplane
    
    Helicopter
    
**Difference between airplane for passengers and airplane for cargo**

Differences - number of engines & engine type

## Filtered to only airplanes

In [28]:
# What are the possible categories?
df_clean['aircraft_category'].value_counts()

Airplane             24831
Helicopter            2907
Glider                 431
Gyrocraft              168
Balloon                166
Weight-Shift           154
Powered Parachute       87
Ultralight              26
WSFT                     9
Powered-Lift             4
Unknown                  4
Blimp                    4
ULTR                     1
Rocket                   1
Name: aircraft_category, dtype: int64

In [29]:
df_clean_airplanes = df_clean.loc[df_clean['aircraft_category'] == 'Airplane']

In [30]:
df_clean_airplanes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24831 entries, 4 to 82753
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                24831 non-null  object
 1   investigation_type      24831 non-null  object
 2   accident_number         24831 non-null  object
 3   event_date              24831 non-null  datetime64[ns]
 4   location                24830 non-null  object
 5   country                 24824 non-null  object
 6   latitude                20817 non-null  object
 7   longitude               20808 non-null  object
 8   airport_code            17039 non-null  object
 9   airport_name            17518 non-null  object
 10  injury_severity         24565 non-null  object
 11  aircraft_damage         24118 non-null  object
 12  aircraft_category       24831 non-null  object
 13  registration_number     24808 non-null  object
 14  make                    24831 non-null  object
 15  model                   24831 non-null  object
 16  amateur_built           24825 non-null  object
 17  number_of_engines       24831 non-null  float64
 18  engine_type             22700 non-null  object
 19  far_description         24692 non-null  object
 20  schedule                2328 non-null   object
 21  purpose_of_flight       22887 non-null  object
 22  air_carrier             10257 non-null  object
 23  total_fatal_injuries    24831 non-null  float64
 24  total_serious_injuries  24831 non-null  float64
 25  total_minor_injuries    24831 non-null  float64
 26  total_uninjured         24831 non-null  float64
 27  weather_condition       23557 non-null  object
 28  broad_phase_of_flight   6375 non-null   object
 29  report_status           21823 non-null  object
 30  publication_date        24441 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 6.1+ MB

In [31]:
df_clean_airplanes['make']
# Company
df_clean_airplanes['model']
# honda civic

# Take 10 most popular makes
df_clean_airplanes['make'].value_counts()

# Fix the case on the data
df_clean_airplanes['make'] = df_clean_airplanes['make'].str.lower()
df_clean_airplanes['make'].value_counts().index

# Get the first 10
# df_clean_airplanes['make'].value_counts().head(10)

top_10_filter = df_clean_airplanes['make'].value_counts().head(10).index
top_10_filter

# df_clean_make_injury = df_clean_airplanes.loc[df_clean_airplanes['make'] == top_10_filter]\
df_clean_airplanes

# total_fatal_injuries > 0


# What are the areas we could go into

<ipython-input-31-b6aec607943b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_airplanes['make'] = df_clean_airplanes['make'].str.lower()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
4,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
7,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
11,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
12,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82749,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022
82750,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,Personal,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
82751,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022
82752,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,Personal,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022
82753,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022

In [32]:
# df_clean_airplanes.to_csv('file_name.csv')
!ls

Data
EDA File.ipynb
Project1_Group2.ipynb
README.md
Scratch Notebooks
clean_airplanes.csv
clean_helicopters.csv
cleaned.csv
test.csv
test2.csv

In [33]:
#helicopter
df_clean_helicopters = df_clean.loc[df_clean['aircraft_category'] == 'Helicopter']

## Export

In [34]:
df_clean_airplanes.to_csv('clean_airplanes.csv')
!ls

Data
EDA File.ipynb
Project1_Group2.ipynb
README.md
Scratch Notebooks
clean_airplanes.csv
clean_helicopters.csv
cleaned.csv
test.csv
test2.csv

## Export

In [35]:
df_clean_airplanes['make']

4                 mcdonnell douglas
6                            cessna
7                            cessna
11                         bellanca
12                           cessna
                    ...
82749                         piper
82750            cirrus design corp
82751                    swearingen
82752                        cessna
82753    american champion aircraft
Name: make, Length: 24831, dtype: object

## Now looking at the second data file

In [36]:
df2 = pd.read_csv("./Data/USState_Codes.csv")
df2

df2.head(61)

          US_State Abbreviation
0          Alabama           AL
1           Alaska           AK
2          Arizona           AZ
3         Arkansas           AR
4       California           CA
..             ...          ...
56     Puerto Rico           PR
57  Virgin Islands           VI
58   Washington_DC           DC
59  Gulf of mexico           GM
60  Atlantic ocean           AO

[61 rows x 2 columns]

### Not sure how useful this is going to be.

## Columns that might be relevant to answering our question

**For the damage**

10 - injury severity\
Still not sure what to do with this and how it relates to the other columns
11 aircraft damage\

12 Aircraft Category\
This has a lot of different types of flying stuff. We need to filter it by airplanes, because the rest are irrelevant to our data analysis - we are only looking for airplanes.

23 - Total Fatal Injuries\
24 - Total Serious Injuries\
25 - Total Minor Injuries\
26 - Total Uninjured\
*Need to figure out if this relates to the injury severity column*\
**Use a filter to check it out**

air carrier\
*What does air carrier mean?*\
It's just what company operates it.

16 - Amateur Built\
*So was it built by an amateur I guess?

Broad phase of flight\
just what phase the plane was in during the accident.


**For knowing what plane it is** 

make\
model

*We can't figure out which planes are safe if we don't even know which ones they are*


**Might be able to get interesting correlations from:**

17 - Number of engines\
18 - Engine type

## Columns that probably aren't helpful for answering our question

Event.Date\
Location\
Country\
Latitude\
Longitude\
Airport Name

Since we're trying to find which airplanes are the safest, knowing this information isn't really relevant.

In [37]:
df_clean_airplanes['make'].shape

(24831,)

In [38]:
test = df_clean_airplanes['make'].value_counts()

In [39]:
test.to_csv('test.csv')

In [40]:
df_clean_helicopters['make'].shape

(2907,)

In [41]:
test2 = df_clean_helicopters['make'].value_counts()

In [42]:
test.to_csv('test2.csv')