# This is the scratch notebook for EDA

#### First off, here is a link to the data

https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses

In [1]:
# First need import statements

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_colwidth', None)

### Question Statement:

#### Which aircraft are the lowest risk 

#### Have 3 concrete business recommendations

## Exploring the columns

In [2]:
# Now import the data

df = pd.read_csv("./Data/AviationData.csv", encoding='latin-1', low_memory = False)

In [3]:
# Take a look

# print("These are the possible inputs for Aircraft Damage")
# print(df['Aircraft.damage'].value_counts().index)
# print()

# print("These are the possible inputs for Injury Severity (already looked at)")
# print(df['Injury.Severity'].value_counts().index)
# print()

# print("These are the possible inputs for Aircraft.Category")
# print(df['Aircraft.Category'].value_counts().index)
# print(df['Aircraft.Category'].value_counts().values)
# print()

# print("These are the possible inputs for investigation type")
# print(df['Investigation.Type'].value_counts().index)
# print()

# print("These are the possible inputs for Amateur.Built")
# print(df['Amateur.Built'].value_counts().index)
# print(df['Amateur.Built'].value_counts().values)

# print("These are the possible inputs for Report.Status")
# print(df['Report.Status'].value_counts().index)
# print(df['Report.Status'].value_counts().values)

# print("These are the possible inputs for Weather.Condition")
# print(df['Weather.Condition'].value_counts().index)
# print(df['Weather.Condition'].value_counts().values)

# print("These are the possible inputs for Accident.Number")
# print(df['Accident.Number'].value_counts().index)
# print(df['Accident.Number'].value_counts().values)


# print("These are the possible inputs for Airport.Code")
# print(df['Airport.Code'].value_counts().index)
# print(df['Airport.Code'].value_counts().values)

print("These are the possible inputs for FAR.Description")
print(df['FAR.Description'].value_counts().index)
print(df['FAR.Description'].value_counts().values)

print()

These are the possible inputs for FAR.Description
Index(['091', 'Part 91: General Aviation', 'NUSN', 'NUSC', '137', '135', '121',
       'Part 137: Agricultural', 'UNK', 'Part 135: Air Taxi & Commuter',
       'PUBU', '129', 'Part 121: Air Carrier', '133', 'Part 129: Foreign',
       'Non-U.S., Non-Commercial', 'Non-U.S., Commercial',
       'Part 133: Rotorcraft Ext. Load', 'Unknown', 'Public Use', '091K',
       'ARMF', 'Part 125: 20+ Pax,6000+ lbs', '125', '107', 'Public Aircraft',
       '103', 'Part 91 Subpart K: Fractional', 'Armed Forces',
       'Part 91F: Special Flt Ops.', '437'],
      dtype='object')
[18221  6486  1584  1013  1010   746   679   437   371   298   253   246
   165   107   100    97    93    32    22    19    14     8     5     5
     4     2     2     1     1     1     1]

In [4]:
# What are the features (columns) of the data?

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [5]:
# Need to get a closer look at the data, make sure there aren't any errors in the namings

# There already is a problem in the weather condition column
# print("Weather condition column")
# print(df['Weather.Condition'].value_counts())
# print()
print("Injury Severity column")
print(df['Report.Status'].value_counts())
print(df['Report.Status'].value_counts().index)
print()


# print("Total.Fatal.Injuries")
# print(df['Total.Fatal.Injuries'].value_counts().index)
# print()

# print("Total.Serious.Injuries")
# print(df['Total.Serious.Injuries'].value_counts().index)
# print()

# print("Total.Minor.Injuries ")
# print(df['Total.Minor.Injuries'].value_counts().index)
# print()

# print("Total.Uninjured")
# print(df['Total.Uninjured'].value_counts().index)
# print()


# print("Aircraft.damage")
# print(df['Aircraft.damage'].value_counts().index)
# print()
# print("value counts")
# print()
# print(df['Aircraft.damage'].value_counts())
# print()
# print(df['Aircraft.damage'].unique)
# print()
# print("total nans")
# print()
# print(df['Aircraft.damage'].isna().sum())

print()
#df_clean['Injury.Severity']

Injury Severity column
Probable Cause                                                                                                                                                                                                             61754
Foreign                                                                                                                                                                                                                     1999
<br /><br />                                                                                                                                                                                                                 167
Factual                                                                                                                                                                                                                      145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                  56
                                                                                                                                                                                                                           ...
The pilot's failure to maintain clearance from terrain while maneuvering during an aerial application flight.                                                                                                                  1
The pilot's failure to maintain directional control of the airplane during the landing. \r                                                                                                                                     1
The pilot's failure to maintain clearance from power lines during a low-level aerial observation flight. Contributing to the accident was pilot's failure to review a route hazards map prior to initiating the flight.        1
The pilot's inadvertent retraction of the landing gear during the landing.                                                                                                                                                     1
The student pilot did not maintain directional control while practicing a soft-field takeoff.                                                                                                                                  1
Name: Report.Status, Length: 17075, dtype: int64
Index(['Probable Cause', 'Foreign', '<br /><br />', 'Factual',
       'The pilot's failure to maintain directional control during the landing roll.',
       'A loss of engine power for undetermined reasons.',
       'The pilot's failure to maintain directional control during landing.',
       'A total loss of engine power for undetermined reasons.',
       'The loss of engine power for undetermined reasons.',
       'The pilots failure to maintain directional control during the landing roll.\r\n\r',
       ...
       'The pilot's failure to apply carburetor heat, which resulted in the formation of carburetor icing and a total loss of engine power.',
       'The inadequate preflight inspection by both pilots, resulting in a loss of engine power due to fuel exhaustion. Contributing to the accident was the disconnected fuel tank sending unit.',
       'The pilot's improper reduction of the fuel mixture while the airplane was descending on the final leg of the traffic pattern, which resulted in a total loss of engine power and subsequent aerodynamic stall.\r',
       'The pilot's failure to maintain clearance from trees during a go-around. Contributing to the accident were the pilot inadvertently allowing the airplane to porpoise during the landing flare, and the presence of a tailwind.',
       'The flight instructor's failure to maintain helicopter control while hovering, which resulted in skid contact with the ground and a dynamic roll-over.',
       'The pilot's failure to maintain clearance from terrain while maneuvering during an aerial application flight.',
       'The pilot's failure to maintain directional control of the airplane during the landing. \r',
       'The pilot's failure to maintain clearance from power lines during a low-level aerial observation flight. Contributing to the accident was pilot's failure to review a route hazards map prior to initiating the flight.',
       'The pilot's inadvertent retraction of the landing gear during the landing.',
       'The student pilot did not maintain directional control while practicing a soft-field takeoff.'],
      dtype='object', length=17075)

#### It looks like there is a problem with the inputs in this column.

So we're given the status of the injury (it's severity), and then if it was fatal, how many fatalities there were

**How to deal with this

2 ways:

1. split the data and then glue it back together.
2. Parse the field and get out the data we need

In [6]:
df['Weather.Condition'].value_counts()
df['Weather.Condition'].unique

<bound method Series.unique of 0        UNK
1        UNK
2        IMC
3        IMC
4        VMC
        ...
88884    NaN
88885    NaN
88886    VMC
88887    NaN
88888    NaN
Name: Weather.Condition, Length: 88889, dtype: object>

In [7]:
# Poke around inside the data

# Take a look at the first 5
print("Take a look at the first 5")
print(df.head())
print()

# What are the dimensions of the matrix?
print("What's the dimensions of the matrix?")
print(df.shape)
print()

print("Take a look at some statistics")
print(df.describe())
print()

Take a look at the first 5
         Event.Id Investigation.Type Accident.Number  Event.Date  \
0  20001218X45444           Accident      SEA87LA080  1948-10-24
1  20001218X45447           Accident      LAX94LA336  1962-07-19
2  20061025X01555           Accident      NYC07LA005  1974-08-30
3  20001218X45448           Accident      LAX96LA321  1977-06-19
4  20041105X01764           Accident      CHI79FA064  1979-08-02

          Location        Country   Latitude   Longitude Airport.Code  \
0  MOOSE CREEK, ID  United States        NaN         NaN          NaN
1   BRIDGEPORT, CA  United States        NaN         NaN          NaN
2    Saltville, VA  United States  36.922223  -81.878056          NaN
3       EUREKA, CA  United States        NaN         NaN          NaN
4       Canton, OH  United States        NaN         NaN          NaN

  Airport.Name  ... Purpose.of.flight Air.carrier Total.Fatal.Injuries  \
0          NaN  ...          Personal         NaN                  2.0
1          NaN  ...          Personal         NaN                  4.0
2          NaN  ...          Personal         NaN                  3.0
3          NaN  ...          Personal         NaN                  2.0
4          NaN  ...          Personal         NaN                  1.0

  Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
0                    0.0                  0.0             0.0
1                    0.0                  0.0             0.0
2                    NaN                  NaN             NaN
3                    0.0                  0.0             0.0
4                    2.0                  NaN             0.0

  Weather.Condition  Broad.phase.of.flight   Report.Status Publication.Date
0               UNK                 Cruise  Probable Cause              NaN
1               UNK                Unknown  Probable Cause       19-09-1996
2               IMC                 Cruise  Probable Cause       26-02-2007
3               IMC                 Cruise  Probable Cause       12-09-2000
4               VMC               Approach  Probable Cause       16-04-1980

[5 rows x 31 columns]

What's the dimensions of the matrix?
(88889, 31)

Take a look at some statistics
       Number.of.Engines  Total.Fatal.Injuries  Total.Serious.Injuries  \
count       82805.000000          77488.000000            76379.000000
mean            1.146585              0.647855                0.279881
std             0.446510              5.485960                1.544084
min             0.000000              0.000000                0.000000
25%             1.000000              0.000000                0.000000
50%             1.000000              0.000000                0.000000
75%             1.000000              0.000000                0.000000
max             8.000000            349.000000              161.000000

       Total.Minor.Injuries  Total.Uninjured
count          76956.000000     82977.000000
mean               0.357061         5.325440
std                2.235625        27.913634
min                0.000000         0.000000
25%                0.000000         0.000000
50%                0.000000         1.000000
75%                0.000000         2.000000
max              380.000000       699.000000

In [8]:
# Check it out with the info command
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [9]:
# Now let's check out how many NaN's there are

df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

# Cleaning The Data

One idea is to take the four rows:\
Total.Fatal.Injuries\
Total.Serious.Injuries\
Total.Minor.Injuries\
Total.Uninjured

And fill in the NaN's with the median of the data to deal with them.

And then once that is done, compare the median with the original median to make sure nothing has been changed.

## Handling the NaN's for the make and model columns

We are going to drop the rows for the missing make and model values
This is because we can't get any useful data from these if we don't know the make and the model!

In [10]:
# First make a copy of the original data
df_clean = df.copy()
df_clean

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

### Drop the missing values from the Make and Model columns

In [11]:
df_clean = df_clean.dropna(subset=['Make', 'Model'])

Take a look and see if it worked.

In [12]:
df_clean.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     225
Latitude                  54430
Longitude                 54439
Airport.Code              38564
Airport.Name              36031
Injury.Severity             979
Aircraft.damage            3172
Aircraft.Category         56532
Registration.Number        1275
Make                          0
Model                         0
Amateur.Built                99
Number.of.Engines          6023
Engine.Type                7006
FAR.Description           56841
Schedule                  76245
Purpose.of.flight          6138
Air.carrier               72168
Total.Fatal.Injuries      11386
Total.Serious.Injuries    12490
Total.Minor.Injuries      11914
Total.Uninjured            5897
Weather.Condition          4439
Broad.phase.of.flight     27094
Report.Status              6335
Publication.Date          13765
dtype: int64

## Let's also convert the name of the columns to something nicer

In [13]:
df_clean.columns = df_clean.columns.str.strip().str.lower().str.replace('.', '_')

### Compare the two

In [14]:
print("This is the original dataframe")
print()
print(df.info())
print()
print("This is the cleaned DataFrame")
print()
print(df_clean.info())
print()

This is the original dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB
None

This is the cleaned DataFrame

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  object
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         85605 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    77391 non-null  float64
 24  total_serious_injuries  76287 non-null  float64
 25  total_minor_injuries    76863 non-null  float64
 26  total_uninjured         82880 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB
None

### Handling the four rows

One idea is to take the four rows:\
Total.Fatal.Injuries\
Total.Serious.Injuries\
Total.Minor.Injuries\
Total.Uninjured

We instead looked at the excel document, noticed that the NaN's were supposed to be zeroes, and then filled in the missing values with zeroes.

In [15]:
df_clean['total_fatal_injuries'].fillna(0, inplace=True)
df_clean['total_serious_injuries'].fillna(0, inplace=True)
df_clean['total_minor_injuries'].fillna(0, inplace=True)
df_clean['total_uninjured'].fillna(0, inplace=True)

/Users/jonniebrown/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Check and make sure the transforemation worked

In [16]:
print("Checking the total fatal injuries column")
print(df['Total.Fatal.Injuries'].isna().sum())
print(df_clean['total_fatal_injuries'].isna().sum())

print("Checking the total serious injuries column")
print(df['Total.Serious.Injuries'].isna().sum())
print(df_clean['total_serious_injuries'].isna().sum())

print("Checking the total Minor injuries column")
print(df['Total.Minor.Injuries'].isna().sum())
print(df_clean['total_minor_injuries'].isna().sum())

print("Checking the total Uninjured column")
print(df['Total.Uninjured'].isna().sum())
print(df_clean['total_uninjured'].isna().sum())

df_clean['total_uninjured']

Checking the total fatal injuries column
11401
0
Checking the total serious injuries column
12510
0
Checking the total Minor injuries column
11933
0
Checking the total Uninjured column
5912
0

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
88884    0.0
88885    0.0
88886    1.0
88887    0.0
88888    1.0
Name: total_uninjured, Length: 88777, dtype: float64

# Convert datetime from a string to a datetime object

In [17]:
df_clean.event_date = pd.to_datetime(df_clean["event_date"], format="%Y-%m-%d")

/Users/jonniebrown/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Check and make sure that it worked

In [18]:
df_clean.event_date

0       1948-10-24
1       1962-07-19
2       1974-08-30
3       1977-06-19
4       1979-08-02
           ...
88884   2022-12-26
88885   2022-12-26
88886   2022-12-26
88887   2022-12-26
88888   2022-12-29
Name: event_date, Length: 88777, dtype: datetime64[ns]

Now the values have been converted to a datetime object.

In [19]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88777 non-null  object
 1   investigation_type      88777 non-null  object
 2   accident_number         88777 non-null  object
 3   event_date              88777 non-null  datetime64[ns]
 4   location                88725 non-null  object
 5   country                 88552 non-null  object
 6   latitude                34347 non-null  object
 7   longitude               34338 non-null  object
 8   airport_code            50213 non-null  object
 9   airport_name            52746 non-null  object
 10  injury_severity         87798 non-null  object
 11  aircraft_damage         85605 non-null  object
 12  aircraft_category       32245 non-null  object
 13  registration_number     87502 non-null  object
 14  make                    88777 non-null  object
 15  model                   88777 non-null  object
 16  amateur_built           88678 non-null  object
 17  number_of_engines       82754 non-null  float64
 18  engine_type             81771 non-null  object
 19  far_description         31936 non-null  object
 20  schedule                12532 non-null  object
 21  purpose_of_flight       82639 non-null  object
 22  air_carrier             16609 non-null  object
 23  total_fatal_injuries    88777 non-null  float64
 24  total_serious_injuries  88777 non-null  float64
 25  total_minor_injuries    88777 non-null  float64
 26  total_uninjured         88777 non-null  float64
 27  weather_condition       84338 non-null  object
 28  broad_phase_of_flight   61683 non-null  object
 29  report_status           82442 non-null  object
 30  publication_date        75012 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 21.7+ MB

# Cleaning The Engines Column

We are going to filter out all the NaN's from the engines column

In [20]:
# Looking at the entries with nulls
df_clean_airplanes[df_clean_airplanes['number_of_engines'].isna()]

NameError: name 'df_clean_airplanes' is not defined

In [21]:
# Drop the null values in number_of_engines
# This is because we need to know the number of engines for the plane model
df_clean.dropna(subset=['number_of_engines'], inplace=True)

df_clean['number_of_engines'].isna().sum()

<ipython-input-21-43b379e53ea4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.dropna(subset=['number_of_engines'], inplace=True)

0

# Filtering

We are going to make two dataframes. 

One with only airplanes and one with only helicopters.

### Categories of interest:
    
    Airplane
    
    Helicopter
    
**Difference between airplane for passengers and airplane for cargo**

Differences - number of engines & engine type

## Filtered to only airplanes

In [22]:
# What are the possible categories?
df_clean['aircraft_category'].value_counts()

Airplane             24831
Helicopter            2907
Glider                 431
Gyrocraft              168
Balloon                166
Weight-Shift           154
Powered Parachute       87
Ultralight              26
WSFT                     9
Blimp                    4
Powered-Lift             4
Unknown                  4
ULTR                     1
Rocket                   1
Name: aircraft_category, dtype: int64

In [ ]:
df_clean_airplanes = df_clean.loc[df_clean['aircraft_category'] == 'Airplane']

In [ ]:
df_clean_airplanes.info()

In [ ]:
df_clean_airplanes['make']
# Company
df_clean_airplanes['model']
# honda civic

# Take 10 most popular makes
df_clean_airplanes['make'].value_counts()

# Fix the case on the data
df_clean_airplanes['make'] = df_clean_airplanes['make'].str.lower()
df_clean_airplanes['make'].value_counts().index

# Get the first 10
# df_clean_airplanes['make'].value_counts().head(10)

top_10_filter = df_clean_airplanes['make'].value_counts().head(10).index
top_10_filter

# df_clean_make_injury = df_clean_airplanes.loc[df_clean_airplanes['make'] == top_10_filter]\
df_clean_airplanes

# total_fatal_injuries > 0


# What are the areas we could go into

In [ ]:
# df_clean_airplanes.to_csv('file_name.csv')
!ls

In [ ]:
df_clean_airplanes['total_fatal_injuries']

In [23]:
#helicopter
df_clean_helicopters = df_clean.loc[df_clean['aircraft_category'] == 'Helicopter']

In [24]:
df_clean_helicopters.to_csv('clean_helicopters.csv')

# Checking out the make and model

See what cleaning needs to be done
What does the column contain?

In [ ]:
df_clean_airplanes = df_clean_airplanes.reset_index()
df_clean_airplanes.drop(columns = ['index'], inplace=True)
df_clean_airplanes

In [ ]:
# Take a look at the data pane
df_clean_airplanes['make']

In [ ]:
# First 10 in the make column
df_clean_airplanes['make'].head(10)
# What is with those indexes?

In [ ]:
# Indexes are messed up
df_clean_airplanes['make'].isna().sum()
df_clean_airplanes['model'].isna().sum()

In [ ]:
# Do some data analysis:
# 2.3.1  .head() : first 5 rows
# 2.3.2  .tail() : last 5 rows
# 2.3.3  .info() : information about the columns, including about nulls in those columns
# 2.3.4  .describe() : statistics about the data
# 2.3.5  .dtypes : data types of each column
# 2.3.6  .shape : number of rows and columns

df_clean_airplanes['make'].tail(10)
df_clean_airplanes['make'].value_counts()

## Export

In [ ]:
df_clean_airplanes.to_csv('cleaned.csv')
!ls

## Now looking at the second data file

In [ ]:
df2 = pd.read_csv("./Data/USState_Codes.csv")
df2

df2.head(61)

### Not sure how useful this is going to be.

## Columns that might be relevant to answering our question

**For the damage**

10 - injury severity\
Still not sure what to do with this and how it relates to the other columns
11 aircraft damage\

12 Aircraft Category\
This has a lot of different types of flying stuff. We need to filter it by airplanes, because the rest are irrelevant to our data analysis - we are only looking for airplanes.

23 - Total Fatal Injuries\
24 - Total Serious Injuries\
25 - Total Minor Injuries\
26 - Total Uninjured\
*Need to figure out if this relates to the injury severity column*\
**Use a filter to check it out**

air carrier\
*What does air carrier mean?*\
It's just what company operates it.

16 - Amateur Built\
*So was it built by an amateur I guess?

Broad phase of flight\
just what phase the plane was in during the accident.


**For knowing what plane it is** 

make\
model

*We can't figure out which planes are safe if we don't even know which ones they are*


**Might be able to get interesting correlations from:**

17 - Number of engines\
18 - Engine type

## Columns that probably aren't helpful for answering our question

Event.Date\
Location\
Country\
Latitude\
Longitude\
Airport Name

Since we're trying to find which airplanes are the safest, knowing this information isn't really relevant.